[2016-09-01 08:23] ev-br opened #2 "repo access levels"
We might want to set a policy for read/write permissions to this repository. The simplest option seems to be to have the same access level for the main scipy/scipy code repo and this one.

[2016-09-01 09:14] pv commented on #2
I would create a separate team for this repository.

[2016-09-01 19:45] rgommers commented on #2
That is what I did I believe. Do you not have access?

Who'd be in it aside from ``core``?

[2016-09-06 10:49] ev-br commented on #2
Not really.
Something to do with being an owner or a collaborator on the organization?

[2016-09-06 19:46] rgommers commented on #2
Ah, it said read access for the core team instead of write. Should be fixed now.

[2016-09-18 06:52] #2 closed

[2016-11-17 18:27] ev-br opened #5 "authorship for the JOSS draft paper"
Everyone who contributed to scipy releases 0.18.0 or 0.18.1 is invited to be a co-author on the draft paper, gh-4.

We follow the usual ICMJE criteria for authorship:
(http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html#two)

* Substantial contributions to the conception or design of the work; or the acquisition, analysis, or in

[2018-02-05 00:27] rgommers commented on #5
Closing this, because we didn't finish the 0.18.x JOSS paper. Thanks for all the work you put into that one @ev-br!

[2018-02-05 00:27] #5 closed

[2018-02-05 00:33] rgommers opened #6 "Using reST, LaTeX or Overleaf?"
There were 5 votes for plain LaTeX on the coordination committee, one +0 for reST, @stefanv suggested reST as used in the SciPy conference proceedings on the mailing list. Overleaf can be used by people on top of a git repo with LaTeX, however none of the people who responded particularly liked it - can revisit that later.

[2018-02-05 00:36] rgommers opened #7 "journal to submit 1.0 paper to"
Suggestions so far:

- PeerJ Computer Science (https://peerj.com/computer-science)
- Journal of Open Research Software (https://openresearchsoftware.metajnl.com/)

Other options? Preferences?

[2018-02-05 00:39] rgommers opened #8 "set up paper build"
We need:

- a Makefile to build the paper
- TravisCI or CircleCI to rebuild the paper on merges into or pushes to master.
- Uploading the built pdf to a fixed location, and link that from the README.

[2018-02-05 00:41] rgommers commented on #6
Suggestions for code listings were `minted` (by @ev-br) or `listings` (by @ilayn).

[2018-02-05 00:43] andyfaff commented on #7
Just from the landing page it looks like the second of those two (JORS) would fit better. From a pragmatic point of view I'd prefer a journal that is going to be indexed, have an impact factor, and have stamina (not sure how long the journals have been going, would like something that will be around in a few years time).

[2018-02-05 00:45] rgommers opened #9 "Scope and structure of SciPy 1.0 paper"
**EDIT: tentative structure and authors:**

- [ ] Introduction *authors:*  @stefanv @jarrodmillman
  - [x] History
  - [x] Project goals / scope of library
  - [x] Current status (maturity, users)
  - [x] scikits
  - [x] timeline ([example](https://twitter.com/choldgraf/status/1009602557692375041?s=19))
- [x] Architecture and implementation choices *authors:*
  - [x] Submodule organisation  *autho

[2018-02-05 00:52] charris commented on #9
Might want to begin by describing the intent of scipy and where it fits in the python scientific stack. A short description of the stack as a whole with an illustration showing links to other projects in the stack might be informative. I've seen several such illustrations floating about, don't recall where.

[2018-02-05 00:52] rgommers commented on #8
@person142 volunteered for this if we go with the LaTeX + Makefile option (thanks!), which it looks like we are.

[2018-02-05 00:53] rgommers commented on #8
Bonus points to implement the suggestion of @pv:

If you want to edit someone else's part, I think small changes should
be possible to do without asking. For larger changes, I suggest to add
instead a comment macro of the type `\PV{some comment}`, `\RG{some
comment}` in the text that explains the issue. Or, go with github issues
or PRs in those cases where you explicitly want feedback before
proce

[2018-02-05 00:54] rgommers opened #10 "authorship policy"
*What I wrote on the scipy-dev mailing list on Jan 20th*:
Authorship: anyone who made a substantial contribution in the history of the project. Here "substantial" is interpreted as anything beyond a one-line doc fix. Rationale: better to be too inclusive than exclusive. Sign-up via a web form, we send the link to that form to all email addresses in the commit history till v1.0.

Author order (deta

[2018-02-05 00:58] rgommers commented on #10
guidelines. We probably don't have the current contact information for
many of the contributors, and it's likely we won't receive "sign off"
statements from several of them.

I'd suggest that this one is not hard to meet:
- we design a web form and email everyone in the commit history. and announce it on the mailing list
- who does not reply doesn't make the author list
- we will make some special

[2018-02-05 01:00] rgommers commented on #10
What constitutes "significant contributions" is tricky. I'd be in favor of formulating it as "more than a simple doc typo fix" and leaving it up to people to decide whether they (a) clear that bar, and (b) clear a higher bar than that which they set for themselves. We then only check if they clear (a).

[2018-02-05 01:01] rgommers commented on #10
@ev-br commented:  It might happen that we need to decide on a person having contributed significantly or not. I suggest we vote in [the coordination committee], with the deciding vote being the RM or BDFL.

[2018-02-05 01:03] rgommers opened #11 "design web form author info and invite co-authors"
No action yet, to be done after we have decided on authorship policy and have a first draft of the paper ready.

[2018-02-05 01:04] charris commented on #8
Thought I post this link about copyright because the issue is bound to come up at some point. https://academia.stackexchange.com/questions/7/does-publishing-a-paper-on-arxiv-prevent-me-from-submitting-it-to-a-non-open-acc

[2018-02-05 01:06] pv commented on #9
I was thinking about these https://scipy.org/citing.html#scientific-computing-in-python above, but indeed they're more general overview articles.

[2018-02-05 01:06] charris commented on #6
Is there a good reason *not* to use LaTeX?

[2018-02-05 01:17] ilayn commented on #8
The macros are already implemented in [`changes`](https://tex.stackexchange.com/a/65466/3235) package.

[2018-02-05 01:38] charris commented on #9
And given that SciPy's role was partly determined by history, maybe a short history is appropriate. I believe that SciPy was originally a supplement to Numeric, and NumPy started there as a Numeric replacement and was later split off for independent development.

[2018-02-05 01:45] charris commented on #10
Might want to collect some statistics on reviewers, although I suspect most are also maintainers.

[2018-02-05 02:22] stefanv commented on #6
We use restructured text for the SciPy proceedings to make the reviews easier and more readable.  But since everyone here is comfortable with LaTeX, it's probably fine.

Overleaf is handy when multiple people are co-editing overlapping parts of a document.  That can be addressed with proper coordination (i.e. restricting most of a single user's edits to one section of the paper).

[2018-02-05 02:27] ilayn commented on #8
Never had a problem of that sort but I don't have a strong opinion about the toolchain (yet). I am not sure if we would really need much of this kind comments anyhow if we keep the TeX files on GitHub and use the review system.  Especially if we separate things and make a master file with a lot of

    ...
    \input{history}
    \input{modules}
    ...
etc. Then each section can be reviewed separ

[2018-02-05 14:39] perimosocordiae commented on #8
For the Makefile, I'll recommend using `latexmk`: https://tex.stackexchange.com/a/40759/5105

I used it for several papers and my dissertation, with no complaints.

[2018-02-05 17:00] rgommers commented on #7
JORS seems to have the right mission, but on further inspection it looks a little problematic. The first paper about a familiar package I spotted was about `xarray`; it only has an abstract and the full paper html and pdf are missing: https://openresearchsoftware.metajnl.com/articles/10.5334/jors.148/. The same seems true of other (all?) papers.

Then regarding types of papers, they have software

[2018-02-05 17:28] rgommers commented on #7
For some more options, I had a look at journals that papers about other core packages were published (see https://scipy.org/citing.html), and at the general journals list of https://software.ac.uk/which-journals-should-i-publish-my-software.

Main criteria:
- has to be open access
- should be a decent journal likely to stick around
- should allow using the length and structure we'd like

The most

[2018-02-05 17:40] rgommers commented on #7
The one other one that looks reasonable is [SoftwareX](https://www.journals.elsevier.com/softwarex/), but despite my nationality I'm not a fan of Elsevier....

[2018-02-05 17:42] antonior92 commented on #7
Another open project that I follow, [Julia](https://julialang.org/), have published its correspondent paper in [SIAM review](https://www.siam.org/journals/sirev.php). Theirs papers is this [one](https://julialang.org/publications/julia-fresh-approach-BEKS.pdf)

It seems like a good journal but the open access fee is way more expensive than JORS ($2500). Nevertheless, I believe the Scipy paper may

[2018-02-05 17:51] rgommers commented on #7
Thanks @antonior92. That's a lot of money .... It could fit, but I don't see any other articles on open source software when I browse the latest issues. The Julia article is nice though.

[2018-02-05 18:04] mdhaber commented on #11
What information needs to be on this form other than:

- Name, as it should be listed in the paper
- Preferred email address (if different from how we contacted them)
- Other names / usernames that belong to the same person (if applicable)

Often workplace information is included on papers but is that important for such a long, global list?

I would be happy to make this if a Google form is suffic

[2018-02-05 18:09] ev-br commented on #11
Yes, affiliation(s) are needed, some people may need to include several.

[2018-02-05 18:11] tylerjereddy commented on #8
+1 for `latexmk` as well; writing scripts that try to compile i.e., N times to get the citations right, etc., can get messy pretty quickly

[2018-02-05 18:25] ilayn commented on #7
It's better to have a full open access paper such that people can also use it outside paywalls. You can make it free to read by paying but still lots of conditions apply.

[2018-02-05 18:52] mdhaber commented on #7
@rgommers Re: JORS not all papers have missing PDFs but still that is not a good sign. Their website has other issues, which doesn't inspire confidence. It also seems like almost all of the articles are the short "Software Metapapers" you mentioned. Even though they offer full-length articles, we might want to pick a journal geared toward full-length articles if that's what we want to write.

I ha

[2018-02-05 18:54] antonior92 commented on #7
I agree with the arguments against choosing SIAM review.

Anyway, I just though it was worth mentioning it.

[2018-02-05 19:06] ev-br commented on #7
SIREV does look nice, however, the timeline of the Julia paper looks a bit extravagant:

16, 2015; published electronically February 7, 2017

There are other SIAM journals, too, e.g. http://epubs.siam.org/journal/sjoce3 SIAM J on Scientific Computing. The price tag is the same for all SIAM journals.

Two things to consider w.r.t. publishing charges:

1. Is open access charge something we can apply

[2018-02-05 19:19] rgommers commented on #7
Yes. It's not guaranteed that the funding for it will be granted, but the chances for partial or full support are pretty good I'd say.

arXiv is very useful, but to me not a full replacement for accessing the actual published paper. Also from a principled point of view I strongly prefer open access, both for my own research and (especially) for an open source project like SciPy. So if there's a go

[2018-02-05 20:15] rgommers commented on #7
Plos One is pretty good, probably the second best option I've seen. Compared to PeerJ CS: publication charges are higher ($1500), authorship policy is more restrictive, and website generally doesn't look as good.

[2018-02-05 21:24] insertinterestingnamehere commented on #9
If we're interested in sections about the Cython BLAS/LAPACK stuff I can help there. We may be able to draw on some of the material I put in to the SciPy 2015 proceedings paper on that.

[2018-02-09 18:20] mdhaber commented on #7
PLoS One has a much longer history and very high eigenfactor, which is nice.
Nature's Scientific Reports is a megajournal like PLoS One, but has a higher impact factor and is all open access. The downside might be that typically papers are "[no more than 11 typeset pages in length](https://www.nature.com/srep/publish/guidelines)" (although there is not a strict limit).

[2018-02-11 06:03] rgommers commented on #7
I had a look at Scientific Reports. The topics they accept do not seem to include software. There's Scientific Data from Nature, but no software/tools/methods equivalent.

[2018-02-11 06:08] rgommers commented on #9
Okay, here's a proposed structure (sub-bullets can be subsections or topics dealt with in a couple of sentences):

- Introduction
  - History
  - Project goals / scope of library
  - Current status (maturity, users)
- Architecture and implementation choices
  - Submodule organisation
  - Common infrastructure (build, CI, etc.)
  - Language preferences
  - API and ABI evolution
- Recent technical i

[2018-02-11 06:50] mdhaber commented on #7
They do have a category for mathematics and computing,
https://www.nature.com/search?journal=srep&subject=mathematics-and-computing&page=2
but it is a small category in the scheme of things.

Still, here is a paper about a Mathematica tool from as recently as late
January:
https://www.nature.com/articles/s41598-017-18894-7
On Feb 10, 2018 10:04 PM, "Ralf Gommers" <notifications@github.com> wrote:

[2018-02-11 13:02] larsoner commented on #7
+1 for Scientific Reports if possible

[2018-02-11 13:26] charris commented on #9
The "Key technical issues" section looks a bit out of place, although if SciPy is presented as a work in progress it has a place. The outline LGTM otherwise, but that is going to be a long paper :-)

[2018-02-11 15:32] rgommers commented on #9
Yeah, you're probably right. I think it's important to mention, but maybe it can go at the end under "future development" rather than in its own section.

[2018-02-11 15:34] ev-br commented on #9
+1 for the outline.

Two more things I think are worth adding under the `Recent improvements` rubric:

- `interpolate`: esp polynomial interpolators, PPoly and friends.
- `special` saw a lot of work recently

I was going to suggest that `Key technical issues` can be merged with future developments, and I'm glad that was said already :-)

[2018-02-11 15:37] ev-br commented on #9
Also I think it's most important now to get the ball rolling. To this end I suggest that we adopt the brainstorming type of attitude: we work on sections and try to postpone reviewing and criticisms to the stage where there is at least a rough draft (using comments if needed, basically what Pauli was saying).

And I suggest we postpone worrying about the size of the paper: if it does end up being

[2018-02-11 15:49] rgommers commented on #9
+1

Not sure about this one. Excluding `cython_special` (which was on the list already), I'm not sure if there's a story - they're many hundreds of small unrelated functions, many of which received bug fixes and accuracy improvement. Did you have something in particular in mind?

[2018-02-11 15:51] rgommers commented on #9
Agreed. I'll move the structure to the issue description, where people can add their names.

[2018-02-11 16:12] rgommers commented on #9
I'll ping some people that either already volunteered earlier, or may be willing to write a section because they're the experts. Please say yes/no, or just add yourself to the issue by editing the description.

- `sparse`: @perimosocordiae, @rc ?
- `cKDTree`: @rainwoodman, @sturlamolden ?
- `LowlevelCallable`: @pv ?
- `cython_special`: @person142 ?
- `stats`: @josef-pkt (@ev-br) ?
- `optimize`: @n

[2018-02-11 17:10] antonior92 commented on #9
Thank you for pinning me up Ralf. Yes, I would like to help.

I just included my name in the issue description.

[2018-02-11 17:36] antonior92 commented on #7
+1 for Scientific Reports for me as well

[2018-02-12 02:14] tylerjereddy commented on #9
What about `spatial` :/  Maybe I can squeeze in a mention of `SphericalVoronoi`, which is relatively new in project lifetime terms. More broadly, we're not just wrapping stuff from Qhull anymore, but also starting to implement our own computational geometry algorithms (albeit slowly).

Benchmark suite might also be a useful place for me to contribute a bit, since I've worked on `asv` itself a litt

[2018-02-12 08:28] rgommers commented on #9
Hmm. On the one hand it seems a bit small as a technical focus topic compared to the other ones. On the other hand, yes would be nice to mention it. Maybe we should have one section, or a table, with key enhancements that we can't discuss at length but mention briefly (functionality + why it's important)?

The same could be said of `interpolate.PPoly` perhaps.

Cool, adding you there.

[2018-02-12 14:48] rc commented on #9
I am wiling to help with the `sparse` section, although I am not too familiar with the current code base - I am still using it heavily, though. The section should cover both the sparse matrices and the related solvers, right?

[2018-02-12 15:10] perimosocordiae commented on #9
I'm also willing to write about `scipy.sparse` (and potentially `scipy.sparse.csgraph`), though I don't know much about the solvers.

[2018-02-13 01:24] rgommers commented on #9
I'm not sure about including the solvers. Over the last few years there were mainly small improvements, no major changes IIRC. Performance and feaure improvements in the data structures is more significant imho. And then it can be mentioned there are many users of those data structures - `sparse.linalg`, `sparse.csgraph`, `scikit-learn`, etc.

[2018-02-14 07:06] mdhaber commented on #9
@antonior92 I'll help with optimize. I am quite busy for the rest of the week, though.

[2018-02-14 07:11] mdhaber commented on #9
@rgommers I don't have first-hand knowledge of much other than my little corner of optimize, but if there is some topic that needs a writer and nobody with direct knowledge steps forward, let me know.

[2018-02-15 02:57] rainwoodman commented on #9
Yes. I can certainly add the text for the cKDTree, and help out as the rolling starts.

[2018-02-15 12:42] rgommers commented on #9
Thanks Matt. I'd say for now let's start the sections we have writers for. The biggest chunk is the *Recent technical improvements* section, we should have writers for all of those.

[2018-02-15 14:38] rgommers commented on #7
Okay, Scientific Reports is popular and it looks like we've converged on a rough outline of the paper at least. So how about I email someone from the editorial board? I'll do so in a couple of days unless I hear otherwise. If anyone knows a relevant person on the editorial board please let me know, otherwise I'll pick someone with "computational ..." in their affiliation.

[2018-02-16 13:00] tylerjereddy commented on #7
@rgommers My colleague Syma Khalid is on the Scientific Reports Editorial Board. We worked in the same lab at Oxford. I've reviewed some papers for her / the journal. I could ask her informally for opinion + most appropriate person to contact for this particular paper & cc you?

[2018-02-16 14:47] rgommers commented on #7
That sounds useful Tyler, always better if you know someone. Go for it!

[2018-02-22 18:53] rgommers commented on #7
Okay, Scientific Reports is a go (at least according to Syma Khalid, after sharing paper scope with her)! It looks like the majority would prefer Scientific Reports over the alternatives, so I propose we go with that. If there are no major objections, I'll close this issue as resolved in a couple of days.

[2018-02-22 18:56] person142 commented on #8
Closing--done in gh-12.

[2018-02-22 18:56] #8 closed

[2018-02-22 20:23] mdhaber commented on #7
Terrific! +1

[2018-02-22 21:02] mdhaber opened #13 "Recent technical improvements to scipy.optimize"
Since there have been many recent contributors to `scipy.optimize`, I think a distributed approach to drafting this section would work best. Once we collect components, those who are interested can work to edit this section to make it fit with the rest of the paper. Of course, contributors would understand that their components may need to be edited and might not even make the final paper due to s

[2018-02-26 06:10] rgommers commented on #7
Okay, decided - closing. Thanks for the input all. I'll send a PR with the SR template.

[2018-02-26 06:10] #7 closed

[2018-02-27 16:14] felixlen commented on #13
I think this is a great idea and I like your text proposal. The only part I would be a bit concerned is in the last sentence "...motivates the need for a crossover routine...", as I would consider it is a field of active research where it still has to be proven that something like this exists. I know people working on it but also remember a statement of Robert Bixby (developer of CPLEX and founder

[2018-02-28 00:08] mdhaber commented on #13
@felixlen Thanks for the feedback! (I'll let @antonior92 reply about the rest.)

[2018-02-28 03:39] surhudm commented on #13
@mdhaber. Here is some text related to #6493 (@nmayorov please take a look to see if I missed something or if this is too technical)

Covariant errors are commonplace in scientific data used to fit parametric models. With SciPy 1.0, the `curve_fit` routine in `scipy.optimize` can now accept data with covariant errors and optimize model parameters. The optimization that `curve_fit` performs depends

[2018-02-28 12:14] antonior92 commented on #13
Hi all, I agree with @felixlen that we should try to write a unified description regarding #69191 and #7292. Both because, I think it is important for us to highlight the similarities and diferences between the methods and because we should try to keep everything as brief as possible.

To be completely sincere, I think  to explain any of the methods in ``minimize`` in detail is beyond the scope of

[2018-03-04 05:36] mdhaber commented on #13
@antonior92 It would be great to collect all that information together. I hope there is space for it in the paper, but I'm not sure if there will be, as it sounded like the paper is supposed to focus on the more recent improvement . But a table like that would at least find a place in the documentation!

[2018-03-04 05:46] mdhaber commented on #13
@surhudm Thanks! That's very helpful. I think that the middle sentence "If we define residuals as..." is a little more technical than what I had in mind, but we'll see what other editors think. I think that the rest might be OK but could you replace the `code` with ![LaTeX](https://latex.codecogs.com/gif.latex?%24%5CLaTeX%24)

[2018-03-05 17:05] tylerjereddy commented on #9
For the benchmark suite -- should we aim to demonstrate (plot?) a commit hash history performance improvement for some particular function that has improved a lot (is there one that comes to mind?).

[2018-03-06 04:16] rgommers commented on #9
I think so. `optimize` benchmarks for adding new scalar optimization methods, or `cKDTree` performance come to mind.

[2018-03-17 19:38] mdhaber commented on #13
@antonior92 How do you want to go about collecting this information? Perhaps take a look at who submitted the PRs and try to contact them? Do you have some information to start the table?

[2018-03-17 22:34] rgommers commented on #13
Agreed that such a table would be extremely useful, even if it only ends up in the docs and doesn't make the final cut of the paper (but it could - such comparisons as a table don't take that much space).

[2018-03-18 11:08] antonior92 commented on #13
I think the best way to do it is by taking a look at the original papers. I can do it.

I will draw a first draft of the table and if needed I can contact the authors in order to fill some gaps.

I think the table is a nice way of presenting a general overview of the current status of the nonlinear solvers in scipy.

Maybe we can include just a reduced version of the table in the paper if it becom

[2018-03-20 15:54] stsievert commented on #9
Two other functions that have seen recent performance improvements are `convolve` and `correlate`, both of which automatically choose the faster of the FFT and direct convolution methods as of 0.19. I can help with this if you'd like.

[2018-03-21 20:43] WarrenWeckesser commented on #9
@rgommers wrote:

Given that, should we have a short summary of the primary scope and capabilities of each subpackage?  Something like the summary at https://docs.scipy.org/doc/scipy/reference/tutorial/general.html#scipy-organization, but perhaps with a bit more information in the description of each subpackage.  E.g.

* **`integrate`**
  * definite integration (single and multiple definite integr

[2018-03-24 06:08] rgommers commented on #9
@WarrenWeckesser that sounds good to me!

[2018-03-24 06:09] rgommers commented on #9
@stsievert that may be useful, especially given that @tylerjereddy found speedups that weren't as spectacular as we'd expected in gh-15.

[2018-03-24 06:14] rgommers commented on #9
@WarrenWeckesser as one of the longest serving core devs, maybe I could tempt you to tackle one of the sections other than "recent technical improvements"? Maybe the short overview you just proposal as part of the introduction?

[2018-03-26 06:30] mdhaber commented on #13
Hey @antonior92 have you started on this?
If not, maybe I can help somehow, like by collecting some of the papers for you and filling in what I can?

[2018-03-26 21:14] mdhaber commented on #13
This is terrific, @antonior92.  I have several comments (for instance typos on "Nelder-Mead", "Powell", "iterative") that I could easily fix on Overleaf. Do we need a separate repo? I think this could just be added to the main document in this repo - maybe linked from a separate .tex file, but still included in the main document. Then again I'm not really sure how this is all intended to work; I'v

[2018-03-26 22:09] mdhaber commented on #13
@antonior92 I tried pushing to the main repo but got 403 Forbidden; I'm assuming I don't have commit rights. So I just opened #16 to illustrate what I meant by `\input`ing a file into the main document. I was suggesting that you add your LaTeX into this new file, `scipy-optimize.tex`, which is `\input` in the main document `paper.tex`. When one of us edits `scipy-optimize.tex` he submits a PR and

[2018-03-26 22:33] antonior92 commented on #13
Thank you for the example Matt!

I will do what you are suggesting. I will probably have to add additional references to ``.bib`` and add some latex ``usepackages``...

[2018-03-26 23:01] mdhaber commented on #13
@rgommers and others: a few questions.

1) I wrote my blurb about `linprog` `interior-point` almost like an advertisement of the new capabilities.  @antonior92 drafted an excellent summary of `minimize`.  So the styles are quite different.

Should I write a summary of `linprog` more like what @antonior92 has about `minimize`?
Should @antonior92 expand on `trust-krylov` in the style that I used for

[2018-03-27 03:34] WarrenWeckesser commented on #9
@rgommers I'll work on the brief summaries of the subpackages that I proposed above.

On the mailing list, you suggested aiming for a first draft of the paper by mid-April.  The imminent branching of 1.1 will probably keep some of the core devs busy for the next couple weeks, so that date seems a bit optimistic.

Antonio, Matt and Tyler are making progress on their sections, but there is not much

[2018-03-27 03:54] WarrenWeckesser commented on #6
It sounds like a decision has been made: LaTeX it is (+1 from me, by the way).  So can this issue be closed?

[2018-03-27 06:03] rgommers commented on #6
Agreed, LaTeX it is, closing

[2018-03-27 06:03] #6 closed

[2018-03-28 03:36] rgommers commented on #9
You're right Warren - we need to start speeding up this process. Most of the decisions are made, it's a matter of producing content now. Then there's be a review/rework and "sign up authors" phase. I'll do some poking.

[2018-03-28 03:48] rgommers commented on #13
I'd say that the text you have now in the description reads well; it's not too much of an "advertisement" for a scientific paper I'd say.

I'd say 1.0 only; we have to draw a line somewhere.

A new paper I'd say, e.g. for 1.2 (maybe a short JOSS paper) or a paper specifically on these methods.

[2018-03-31 07:18] mdhaber commented on #13
@rgommers I agree that the text I had for `linprog` (now added to #16) reads fine; but it is still quite different from #17.  I guess we'll Frankenstein them together by merging #16 and #17 then we can address the differences.

[2018-03-31 08:10] surhudm commented on #13
@mdhaber I can write the things in latex, once you decide on whether to include the text or not. I just held off on converting the text until you figure out the section organization.

[2018-04-07 19:57] stsievert opened #19 "Decide on benchmark to show for ASV subsection"
@tylerjereddy has drafted the ASV benchmark section in #15. In https://github.com/scipy/scipy-articles/pull/15#issuecomment-379328224, @tylerjereddy mentioned

I think it's fine to merge that PR, but I would like to discuss which benchmark to display. Both @tylerjereddy and I have put in time to benchmark cKDTree and convolve respectively.

[2018-04-07 19:58] stsievert commented on #19
I think we should consider what we want the benchmark to show. I think the main goal is to show ASV's capabilities, but I also think we should show

* that benchmarks improve with increasing versions
* that the benchmarks are practical

What else do we want to show?

[2018-04-08 20:49] tylerjereddy commented on #19
@stsievert I went ahead with the merge since you were ok with it & there were no additional objections. Hopefully the section will continue to improve & what I've done could always be shifted to the supporting info over time.

[2018-04-09 02:14] stsievert commented on #19
Thanks for merging it. Do you have any comments on the goals mentioned above?

[2018-04-09 23:51] tylerjereddy commented on #19
Those are sensible goals -- I guess we can work on making our plots look as good as possible -- patching in those holes by running with 1 or 2 more versions of Cython for example.

We could also think about combining two different benchmarks in a single plot, though this may require i.e, custom code to work on the JSON if we want it to work nicely (and we may also simply prefer not to do a custom

[2018-04-11 00:51] mdhaber opened #22 "ff84a98 pushed to main repo instead of fork"
I made two mistakes:

1. Forgot to branch before making changes/committing
2. Pushed to the main repo instead of my fork

I know how I could have recovered from the first mistake on its own, but now that I've pushed I am not sure what is best. Perhaps these changes are fine; I've only modified @antonior92's work and my own; I've asked him to review. In any case, I wanted everyone to know that the

[2018-04-11 03:33] stsievert commented on #19
That'd be a good idea show highlight a particular improvement, though the value added isn't clear to me. I would like to show some of ASV's web interface: I've found it useful already.

I think we could express the benefits of `asv continuous` in the figure caption or text, especially if a very sudden improvement shown ("The improvement shown in Figure X could also be shown with `asv continuous` w

[2018-04-11 16:47] tylerjereddy commented on #19
The decision to accept / reject a PR might rest on a standard `asv continuous` for example. If you'd like to open a PR to add a small comment about it as you suggest that might be a good idea.

As far as I know `asv` doesn't support this natively, as briefly discussed with @rgommers. We've both had gaps in our performance histories though, which can be closed by running with i.e., > 1 version of C

[2018-04-11 17:10] tylerjereddy commented on #22
Yeah, you can probably just work with @antonior92 to revert any changes, if any reverting is needed at all, by opening a new PR.

I think a slightly "wild west" approach to the paper was ok with Ralf & Pauli (within reason) if it helps move things forward, but yeah maybe don't want to push directly without a quick PR first as you say.

[2018-04-11 17:42] mdhaber commented on #22
Ok, then we'll just say SLSQP is the only general method nlp method.

And thanks Tyler.
Glad it worked out.
On Apr 11, 2018 10:22 AM, "Antonio Horta Ribeiro" <notifications@github.com>
wrote:

[2018-04-12 00:29] stsievert commented on #19
I'd like to see that. I think it'd be most useful to have two options: one option for fixed versions to show performance of only scipy, and another to enable different versions to see performance over time. But I imagine that'd be a lot of build work, and am unsure how difficult it is to implement.

I think we want to show continuous improvement, especially since `asv continuous` is mentioned. Giv

[2018-04-12 00:56] tylerjereddy commented on #19
On the topic of filling in the remaining (failing) benchmarks in the middle of the historical analyses -- I note that the gap is around scipy `0.12.0rc1`, near commit hash `4fe03a73ec55`. This commit hash is indeed probed by my most recent benchmark run, and `asv` reports a failure with no apparent error / traceback.

So, perhaps checking that in i.e., a docker container might help resolve the mys

[2018-04-12 16:37] tylerjereddy commented on #19
I debugged in a docker container and found that a segfault / core dump was occurring when using cKDTree with Cython 0.21.1 at the hash mentioned above for scipy, but Cython 0.18 seems to alleviate this issue so I've restarted the benchmarks with Cython 0.18 to see if the central missing benchmarks can finally be filled in completely; I'll update with a PR if there are improvements in the missing a

[2018-04-16 23:50] mdhaber commented on #10
I've done a little digging into the GitHub API to see what information we can collect. It seems possible to generate a report, organized by GitHub user, on _all_ contributions to SciPy (including issue comments and PR reviews). It is also possible to get more recent email addresses than those used for a SciPy commit if the person has other, more recent, public activity on GitHub. Here's a thought:

[2018-04-17 21:25] andyfaff commented on #10
PR reviewing and digging to the bottom of issues are extremely valuable contributions, and it would be good to recognise that somehow. It's hard to judge though.

[2018-04-17 22:43] mdhaber commented on #10
@andyfaff Certainly is hard to judge automatically, but not so hard for a human. So it would at least be good to collect the email addresses of issue/PR contributors and contact them so they have the opportunity to reply suggesting why they should be included (if they don't meet whatever initial automated criterion we set). Spread around, manual review of those who reply wouldn't be too bad.
Matt

[2018-04-20 03:59] #22 closed

[2018-04-27 05:54] mdhaber commented on #10
Well I did it anyway.  Let me know if you have thoughts on how contributions should be assessed. (Sum of length of comments, reviews, review comments, and + lines on diffs?)

[2018-04-29 05:25] rgommers commented on #10
Interesting. I'd think that the number of contributors with significant review activity but zero commits is close to or at zero, but if you've already done the work to extract the data then let's assess the results!

For a rough ranking I'd suggest something like:
- one list of contributors, simply ordered by number of commits
- another list of people with activity but no commits; ordered by numbe

[2018-04-29 23:45] mdhaber commented on #10
@rgommers Note quite zero : ) But close. Depends on how we define "significant".
Looks like it might be helpful, though. For instance, @metaperature's contribution to #7630 would not have shown on the commit list, but he is near the top of the PR review list.  There are a few others I'll let others assess. Should I push this data to the repo? (Maybe I should remove real names and email addresses t

[2018-04-29 23:56] rgommers commented on #10
I'd say no - better to keep the data private. It's only for use by the paper organizers to sanity check the author list and make decisions on who should be on it in case of doubt. And the method of ranking isn't reviewed or even thought about very hard, it's just for us.

[2018-05-22 23:06] mdhaber commented on #11
Here is a draft of the email to be sent to _every_ email address associated with activity on the SciPy GitHub repo. Some questions:

- Is the criterion for inclusion (adopted from @rgommers on #10) appropriately stated? Especially, are we looking for at least one `substantial contribution` as stated or would a long history of trivial contributions be considered `substantial`?
- Is this the right a

[2018-06-09 19:53] rgommers commented on #11
That definition was mine, however I think @pv proposed a slightly higher threshold, which I'm fine with (authorship for two one-liners is quite inclusive). How about:
*Our definition of 'substantial' is "one new feature or significant improvement (e.g. performance or accuracy improvement) to an existing feature, or multiple smaller contributions.*

It's probably not needed for people to list their

[2018-06-09 20:37] mdhaber commented on #11
All sounds good except for:

For many people it will be obvious why they should be included, and in these cases, you're right, we don't really need them to justify their inclusion as an author.

For others, some commentary (not just a regurgitation of the list we send to them) highlighting their most significant contribution(s) will be helpful. Since there may be hundreds of authors, I think it is

[2018-06-09 21:37] rgommers commented on #11
Yes that make sense. So maybe a slight tweak to your text, to ask something like "if you're in doubt about whether your contributions qualify as significant, please tell us ...." - so it's clear for e.g. past maintainers that they don't have to do this.

[2018-06-28 16:21] hameerabbasi commented on #9
Hello, I'm definitely willing to contribute. I was cc'd in an earlier version, but was apparently removed from the current one. I don't know if I still have the chance?

[2018-06-28 16:43] tylerjereddy commented on #9
@hameerabbasi Yes, I think some content related to `scipy.sparse` would be welcome. I think @perimosocordiae is pretty swamped, but perhaps he could give a quick read-over of whatever gets drafted. It is a lot easier to move forward if we have even a rough outline of the section rather than starting from nothing.

[2018-06-28 18:53] mdhaber commented on #11
OK. I think that I will leave this part out of the email and just include an optional box on the form. Draft 2:

[2018-06-28 21:47] rgommers commented on #11
The email text looks good to me as is. I'd suggest waiting with sending it until we have a complete draft.

[2018-06-28 22:18] pv commented on #11
Yes, I think we will want to have at least an initial "complete" draft.

[2018-06-28 22:50] stefanv commented on #11
The email looks good to me (thanks!) except that I'd recommend you decide beforehand who will cast the vote (it currently states Ralf *or* Pauli); you can also change it to "Ralf *and* Pauli".

[2018-06-28 22:53] stefanv commented on #10
FWIW, we now gather review statistics during scikit-image releases.  Perhaps the tool we wrote for that purpose is also useful here in identifying reviewers:

https://github.com/kne42/scikit-image/blob/53753269e3501acb5bf21c6e0edf1df85b2daaba/doc/release/contribs.py (PR is about to be merged: https://github.com/scikit-image/scikit-image/pull/2927)

[2018-06-29 02:13] mdhaber commented on #10
Thanks @stefanv, but since I hadn't heard back, I wrote something similar in April. It downloads pertinent information from all commits, issues, issue comments, PRs, PR reviews, and PR review comments. We  could use the scikit-image one to check accuracy and completeness of mine for some of those, but I think mine is working pretty well. (Exposed bugs in the GitHub API while writing it though, whi

[2018-06-29 02:16] mdhaber commented on #11
I wrote Ralf or Pauli based on what was in previous discussions, but agree it should be finalized. @rgommers , @pv Decision on this?

[2018-06-29 04:15] rgommers commented on #11
I'm happy for Pauli to do it if he wants, and comfortable to do it otherwise. @pv your call.

[2018-07-25 20:55] rgommers opened #47 "figure out the right wording for (sub)package & (sub)module)"
We now use subpackage, package, module and submodule very inconsistently in various parts of the paper. Let's go through once we have completed most/all sections and do this right.

[2018-07-27 18:52] tylerjereddy opened #60 "Coverage plot dips"
The % [coverage plot from codecov](https://codecov.io/gh/scipy/scipy) has a bit of strange activity (dip / spike) near the start of the 6 month time period--would be helpful to at least briefly explain why this is in the associated Figure caption.

[2018-07-27 19:14] ilayn commented on #60
Isn't it just because tests are possibly added after a delay?

[2018-08-11 00:10] rgommers commented on #9
Okay time for a status update here. I'll be off-grid for 3 weeks or so, so won't be very responsive. Pinging a few people for help / next steps.

- All sections are in place except the introduction and a bit of the conclusion and community sections (content for the latter two depends on the introduction).
- Next step is to add the introduction (@jarrodmillman and @stefanv).
- Then the whole doc ne

[2018-08-31 15:53] aarchiba commented on #9
I know it's late to restructure the text substantially, but one of the key things I would want from a paper like this is: "what can scipy do?" That information is currently filed under "Architecture and Implementation Choices", which isn't where I would have looked for it. Maybe just break that section out to something like "what scipy contains"? In its current place could go a few brief general c

[2018-08-31 16:04] rgommers commented on #9
Yes I agree. I'd expect to read some of that in the introduction already.

[2018-08-31 18:40] hameerabbasi commented on #9
I can review the paper in its current state within the coming week and possibly do some of the stuff written in the checklist.

[2018-10-30 06:43] antonior92 commented on #9
Hi all,
It seems that we are very close to finish the initial version of the manuscript (only introduction, discussion and future development missing) but it seems that we have not made much progress along the last month. @jarrodmillman, @stefanv, @tylerjereddy, @rgommers there are anyway I could help?

[2018-10-30 07:11] stefanv commented on #9
Actually, we are pretty close with the introduction. I need to give it one
more pass, but then it should be ready for wider review.

[2018-12-13 07:30] mdhaber commented on #9
@stefanv I will have a few weeks window for SciPy work soon. Any chance you've finished that final pass?

[2018-12-13 07:45] stefanv commented on #9
Excellent news; let me see if I can fit that in tomorrow.

[2018-12-14 20:23] stefanv commented on #9
OK, I'm done.

[2018-12-15 20:10] mdhaber commented on #9
Thank you!

[2019-01-10 19:16] jarrodmillman commented on #9
@rgommers, @tylerjereddy What are our next steps?

[2019-01-10 19:38] tylerjereddy commented on #9
I think the plan is to go through & fix up the paper a bit so that it has a "consistent voice" after so many contributions from different people.

Assuming we're still targeting *Scientific Reports* I guess I / we should check for missing sections they normally require, etc., though we're still not at the stage where we have a complete authors list.

[2019-01-10 23:18] stefanv commented on #9
On Thu, 10 Jan 2019 11:38:46 -0800, Tyler Reddy wrote:

Would you mind checking their website, and if the information is not there reach
out to them?

I think we can get the authors list sorted out pretty quickly when it is
needed.

[2019-01-10 23:21] tylerjereddy commented on #9
Yeah, we have an Editorial contact (Syma) we can ask if we don't find the information, but should be easy to find.

[2019-01-10 23:43] rgommers commented on #9
Agreed. I think 7-10 days or so is reasonable. AstroPy gave people 2-3 days IIIRC, I think that was definitely too short and that paper probably ended up with fewer authors than wanted to be on it.

@mdhaber has everything lined up to sort out the author info.

I'd suggest a reasonable list of next actions would be:
1. One complete pass to streamline the content/voice.
2. Ping authors
3. Final twe

[2019-01-10 23:47] stefanv commented on #9
Ralf, would you like to be the "single voice", or would you prefer one of
us to take care of it?

[2019-01-10 23:55] rgommers commented on #9
I'd prefer someone else to do this, I definitely don't have time before the end of January, maybe longer. IIRC Matt and/or Tyler volunteered?

[2019-01-11 06:58] mdhaber commented on #9
@jarrodmillman No : / But no need to let this hold up anyone else's review.

[2019-01-11 23:45] tylerjereddy opened #65 "Revisions Tracking Issue"
Based on a full read-through of the manuscript on January 11/ 2019, my detailed revision notes/ check-list is below & of course open to adjustment, etc. Some of the objectives of the revisions at this stage include unifying the paper to a "coherent voice" / style, looking at concision / focus due to its length, and considering the [submission requirements](https://www.nature.com/srep/publish/guide

[2019-01-11 23:46] tylerjereddy commented on #9
See #65 for a check-list of sorts from my full read through today.

[2019-01-12 03:47] jarrodmillman commented on #65
I am not sure how to justify "...backed by millions in funding, and thousands of highly qualified engineers...".  I suppose we would need to get a list of the major projects and look at their revenue and staff.  This would include at least Matlab and IDL, but others as well.  It seemed like a pretty conservative estimate at the time, but I don't think we tried to actual calculate the numbers.

Acc

[2019-01-12 18:34] tylerjereddy commented on #65
Yeah, that's exactly the kind of thing I had in mind. Probably doesn't have to be thorough, but a citation of some sort so it isn't a "vapor" claim seems useful. Maybe I'm just too picky.

[2019-01-12 19:13] mdhaber commented on #65
@tylerjereddy  Not too picky. This was a comment of mine, too.

[2019-01-24 22:35] tylerjereddy commented on #65
I've crossed out the proposed Abstract improvement re: citing Download figures after a bit more though -- if others would prefer to include that feel free to open a PR. On balance, people were mostly happy with the abstract on the early draft & keeping it short is good.

[2019-01-25 05:14] mdhaber opened #88 "47% of (Python?) machine learning projects on GitHub import SciPy"
I think that belongs somewhere!
https://github.blog/2019-01-24-the-state-of-the-octoverse-machine-learning/
I'll submit a PR when I can, but it's fine if somebody beats me to it.

[2019-01-25 06:06] stefanv commented on #88
On January 24, 2019 21:14:46 Matt Haberland <notifications@github.com> wrote:

That's great, definitely agree!

[2019-01-29 21:51] tylerjereddy commented on #65
At this point, I'll likely let others open PRs to address issues above (or otherwise) they agree with--that way I'm less likely to put time into a change for which there is not a consensus.

[2019-01-31 20:02] #88 closed

[2019-01-31 20:33] tylerjereddy commented on #65
Around 45 % of the way through the checklist now; I'll see what else I can do. I'll aim for leaving PRs open ~1 week before I go for self-merge, as usual for the articles repo.

[2019-01-31 22:40] tylerjereddy commented on #65
I've marked the community beyond scipy library part as completed as we probably don't want the suggested expansion with another example given current size of paper.

[2019-02-06 19:37] tylerjereddy commented on #65
About 55 % now, with probably some more easy ones left, and probably some that can simply be eliminated by consensus.

The revised code line coverage plot will be a pain to do. I failed an initial / quick attempt last week -- it is tricky to set up locally and reliably across project history, but probably doable with some care.

[2019-02-06 21:22] chrisb83 commented on #65
@tylerjereddy I had a look at the stats section and I agree that the section could be condensed. I will try to give feedback this weekend

[2019-02-06 22:51] tylerjereddy commented on #19
There hasn't really been much more movement here -- the Figure has stayed the same without much additional comment in last 10 months, so I'll close this.

Another issue can be opened if there's a specific suggestion for that Figure that someone wants to implement.

[2019-02-06 22:51] #19 closed

[2019-02-12 21:11] chrisb83 opened #97 "Review of text on stats module"
I reviewed the text on `stats`:

I agree with @tylerjereddy (see #65
) that the text in paper.tex could be shortened. From my point of view, the following are the main points if we speak about distributions in `stats`:

- more than 100 distributions available (~80 continuous, 12 discrete and 10 multivariate)
- consistent framework that implements methods to sample rvs, evaluate the pdf / cdf and t

[2019-02-15 02:44] tylerjereddy commented on #97
You may not get too much feedback -- the subset of devs working on the paper actively is pretty small, but I trust your judgement far more than mine on `stats` content, and I probably ended up drafting some of the stats material, unfortunately!

@mdhaber has been good about reviewing PRs carefully, so I think if you clean up the stats stuff a little he'd be happy to review.

[2019-02-15 18:07] mdhaber commented on #97
I would be happy to review. I'm also starting to dig into my own edits now that we've gone through a fair portion of Tyler's list. I haven't read the most recent version of the stats section, but when I do I can let you know what I think about it. If you want to submit a PR before then, though, that also works.

[2019-02-22 06:47] mdhaber opened #107 "Timeline Graphic?"
I think Figure 2 should be represented graphically or eliminated.

![scipy_timeline](https://user-images.githubusercontent.com/6570539/53224731-93efbf80-362a-11e9-9556-dd0198e893b9.png)

Getting permission to print logos might be a headache. I suppose we could just lay out the text on a timeline? Anyway, I'm suggesting something other than the current text list.

[2019-02-22 06:53] rgommers commented on #107
Oh pretty! Logo permissions for Github and TravisCI could be nontrivial, the rest will be fine

[2019-02-22 07:00] ilayn commented on #107
https://github.com/logos

GitHub seems also fine.

[2019-02-22 07:40] mdhaber commented on #107
And I had seen Travis' policy while getting there logo.
https://travis-ci.com/logo
They say it's ok. But do we have to include the wordmark with it? I couldn't tell.

[2019-02-22 07:44] mdhaber commented on #107
Does anyone have a better version (preferably vector) of the SciPy logo? Is red correct for library and blue for community?

I didn't think much about the events to include from the original list. Let me know what needs in and out.

[2019-02-22 14:52] rgommers commented on #107
I don't, unfortunately

yes. it hasn't always been consistent, but this sounds right to me

[2019-02-27 19:35] chrisb83 commented on #97
I would be happy to get your review of the current version to see if you agree with my comments above before I create a PR.

[2019-02-27 20:16] mdhaber commented on #107
@ilayn @rgommers Thanks; I'd appreciate your thoughts about the latest version of this graphic in #108.

[2019-02-27 20:16] #107 closed

[2019-02-27 20:23] mdhaber opened #112 "SciPy Begins Issue"
There were a few issues in the SciPy Begins section not fixed by #105:
- [ ] There are a lot of uncited facts in this section. Is that OK?
- [x] There are a ton of names mentioned in this section. Do we want that?
- [x] The paragraph beginning "As SciPy, the algorithms library of the ecosystem..." gives context to SciPy, but isn't really about the SciPy library. Does it deserve so much space?

[2019-02-27 20:45] rgommers commented on #112
facts look fine to me, however all software (e.g. ODEPACK, QUADPACK, and MINPACK) needs citing I think

fine with me. a journal may frown upon it, but if so we can fix it at that point.

It's interesting to me, but yeah you could argue that it needs removing. I don't mind keeping it for now as the context is helpful.

pinging @jarrodmillman too as he wrote this section

[2019-02-27 21:37] mdhaber commented on #112
It's definitely interesting and I hope we can keep it. Hopefully there is space.

[2019-02-28 01:01] jarrodmillman commented on #112
I would like to see it retained, but I am OK with it being removed.  For years, I've wanted to see this stuff documented somewhere and this seemed a natural spot.  If it seems to out of scope for others, I understand.

The article is getting a bit long and may exceed page limits.  However, I suspect this may be possible to get around.  The last article I wrote (https://www.frontiersin.org/articles

[2019-02-28 01:03] rgommers commented on #112
I feel the same way - we could also talk to the journal beforehand. I'd rather have the full article a lower-ranked journal (as long as it's indexed) than a half length article with all the "non-scientific" bits cut out.

[2019-03-01 18:38] tylerjereddy commented on #97
@chrisb83 There's a question about stats content in #113 -- can you take a look -- you can ignore the bunch of other stuff changed there

[2019-03-01 18:48] tylerjereddy commented on #112
Ok, the only action item here is to add a few more citations for some of the libraries we wrap I think. Note that some of those citations may already be available from later in the manuscript as well.

If we're still going with *Scientific Reports* for first try I anticipate that our editorial contact, Syma Khalid, will be fair.

[2019-03-01 18:51] tylerjereddy commented on #60
Closing this issue -- there are certainly still areas of confusion around our coverage statistics, even after recent attempts to "manually" improve them have been merged. But at least we're not using that codecov plot anymore.

That said, even our development-based coverage data probably is a source of some debate, so not sure we're going to get this "perfect." We used the open source tools availa

[2019-03-01 18:51] #60 closed

[2019-03-01 18:54] tylerjereddy commented on #47
Are we still worried about this? I think I've seem some changes related to this going in, and can't imagine it would be a serious point of consideration for not accepting the paper.

[2019-03-01 18:57] tylerjereddy commented on #13
Can we close this? The main content has been merged, no?

It is now a matter of refactoring the optimize stuff a little, which I think is continued in #113?

[2019-03-01 19:05] tylerjereddy commented on #11
Just checking in here:

- how far do we think we are from author invite stage? one thing @stefanv reminded me of is that when the invites happen there may be an influx of additional content change requests

[2019-03-02 16:10] mdhaber commented on #11
I want to finish reviewing the last few sections of the paper (hopefully this weekend). There are a few sections at the end that need to be completed, and we need an abstract. Finally, we should get the figures in a representative (if not polished) state. The invitation list, invitation email, and web form are done.

[2019-03-02 16:39] tylerjereddy commented on #11
We already have an abstract that people were happy with

[2019-03-02 19:03] mdhaber commented on #11
Oops, my mistake.

[2019-03-06 01:22] rgommers commented on #65
Maybe consider leaving it out to avoid the pain, unless it becomes more informative? I think it's more or less a straight horizontal line for the past few years anyway.

[2019-03-06 01:23] rgommers commented on #65
nice comprehensive checklist @tylerjereddy

[2019-03-06 01:30] rgommers commented on #97
[code]
agreed, those are all not very important, could be shortened.

agreed as well

[code]
Correlation/hypothesis testing and KDE make sense. Statistical distances is minor perhaps, there's only a couple (especially in 1.0 IIRC, we recently added 1 or 2). Could leave that one out I think.

[2019-03-07 06:09] #13 closed

[2019-03-09 23:00] mdhaber commented on #47
I tried to make this consistent in the "Package Organization" section (renamed from "Submodule Organization", I think):
Package - `scipy`
Subpackage - `scipy.cluster`
Module - `scipy.cluster.vq`
Note that `scipy.sparse.linalg` and `scipy.sparse.csgraph` are not actually .py files, so perhaps it's not technically accurate to call them modules/submodule if "[A module is a file containing Python defi

[2019-03-10 15:53] rgommers commented on #47
That is correct. In the SciPy API we aim to have only subpackages, and no submodules within that. Most things that look like a submodule are accidents of history and *not* public according to our API doc page (public functions/objects are available in the subpackage).

I'd try to avoid having to use that word. Better not to have to use a term for a 3-level nesting at all by editing the text. If we

[2019-03-14 18:08] chrisb83 commented on #97
@rgommers thanks for your feedback, i will try to submit a PR in the next days

do we only Mention functionality present in SciPy 1.0 or can I also mention more recent features added in 1.10 or 1.20?

[2019-03-14 18:13] mdhaber commented on #97
@chrisb83 Present in SciPy 1.0, please

[2019-03-14 18:13] rgommers commented on #97
only SciPy 1.0, that's where we drew the line - there will likely be some other paper in the future about newer additions

[2019-03-23 22:07] tylerjereddy opened #124 "conda download stats"
Looks like we can now access conda download stats: https://github.com/ContinuumIO/anaconda-package-data

We hardly need more content, but may be fused the with PyPI numbers we have.

[2019-03-25 01:20] rgommers commented on #124
yeah I saw that, it's pretty cool. having the code for easily extracting the numbers will be useful for many other things as well

[2019-04-11 20:50] tylerjereddy opened #126 "M87 SciPy usage"
The recent excitement about black hole "imaging" from the M87 galaxy may also be leveraged with an appropriate citation of: https://iopscience.iop.org/article/10.3847/2041-8213/ab0c57/meta

SciPy / NumPy are directly cited there

[2019-04-13 14:02] rgommers commented on #126
Cool. I like how they cited software at the end of the paper. Such a compact form makes it easier to be comprehensive in your citations.

[2019-04-13 22:21] charris commented on #126
If you want to view the imaging code, it is on Github: https://github.com/achael/eht-imaging. It uses numpy matrices in some places, I suspect Python 3 was a later adaptation.

[2019-05-01 03:39] #126 closed

[2019-05-16 16:44] mdhaber opened #137 "Remove "Distributed computing... is explicitly out of scope""
Per today's call, we should remove this bit about distributed computing being out of scope.

[2019-05-16 17:12] mdhaber commented on #97
@chrisb83 Is this closed by #125?

[2019-05-16 17:20] mdhaber commented on #137
I think I misinterpreted this.

[2019-05-16 17:21] #137 closed

[2019-05-16 17:25] mdhaber commented on #112
I'm adding these citations

[2019-05-16 17:57] mdhaber opened #139 "Possible repetition of facts about STScI in close proximity?"
Right before the SciPy begins section:
"Initial work on numerical computing in Python was driven by graduate students, but soon larger research labs became increasingly engaged. For example, Paul Dubois at Lawrence Livermore National Laboratory (LLNL) took over the maintenance of Numeric and funded the writing of its manual[19], and in 1998 the Space Telescope Science Institute (STScI), which was

[2019-05-16 18:43] #112 closed

[2019-05-16 20:01] mdhaber commented on #9
Reviewed this thread. There are two things agreed upon above that are missing from the current paper:

1. @aarchiba suggested and @rgommers/@endolith agreed that "what can SciPy do?" should be addressed more explicitly
2. There is no "Conclusion" section, and the "Discussion" section doesn't really serve as one. The paper ends with two snippets of Cython code and "Some additional roadmap items are

[2019-05-16 20:03] mdhaber commented on #124
I'll implement this.

[2019-05-16 20:05] mdhaber commented on #47
OK. I will search for errant use of "module" and try to standardize "package"/"subpackage"

[2019-05-16 20:18] mdhaber commented on #9
For convenience:
https://419-66140682-gh.circle-artifacts.com/0/papers/artifacts/paper.pdf

[2019-05-16 20:22] chrisb83 commented on #97
Yes

[2019-05-16 20:22] #97 closed

[2019-05-16 22:55] mdhaber commented on #124
Following the example from [`anaconda_package_data_example.ipynb`](https://github.com/ContinuumIO/anaconda-package-data/blob/master/anaconda_package_data_example.ipynb):
[code]
Crude, perhaps, but if it's correct, here's the Anaconda download data by year and month:
[code]
That's 5,776,017 in 2017 and 8,8063,977 in 2018.

[2019-05-16 23:12] tylerjereddy commented on #124
Cool stuff, do you want to make a concise addition to the paper for those numbers? We should probably also keep those numbers handy for a cover letter that stands out.

[2019-05-16 23:26] mdhaber commented on #124
There were 462,746 in 2017 and 1,724,744 om 2018 from the `conda-forge` channel.

[2019-05-17 07:54] rgommers commented on #139
Yes combining sounds good. This indeed feels like a duplicate. Even if it's not meant to be, one mention of STScI is enough.

[2019-05-17 16:36] #47 closed

[2019-05-17 16:42] #124 closed

[2019-05-17 17:50] mdhaber commented on #65
@tylerjereddy Could you take a look at the most recent draft:
https://427-66140682-gh.circle-artifacts.com/0/papers/artifacts/paper.pdf
and see which items of your checklist remain?
Maybe we should condense the list of those that remain or start issues for any big ones?

[2019-05-17 23:55] mdhaber opened #143 "ASV Benchmarking Figure"
There have been concerns about the quality of the ASV Benchmarking Figure (#65, #117).

![asv_time_query_ckdtree](https://user-images.githubusercontent.com/6570539/57961177-0b4b8d00-78c2-11e9-8846-f8253cf723b6.png)

Apparently, the data are no longer available and are difficult to generate, so I scraped the data from [here](https://pv.github.io/scipy-bench/#spatial.CNeighbors.time_count_neighbors_

[2019-05-18 00:09] tylerjereddy commented on #65
I'll do maybe one more full read through, but only if there are no other substantial changes planned at this stage. It took the better part of a full day for me to read the manuscript & generate this checklist last time.

The checklist was produced on the vision that the paper was to be unified in one coherent voice, but there have since been several changes that I've not agreed with, so I really

[2019-05-18 00:56] tylerjereddy commented on #143
I'm -1 here.

I don't think we should be changing what we benchmark, the text surrounding the benchmark section, or the figure caption at this stage, simply because there is some work to regenerating the data. Considerable effort went into selecting an appropriate benchmark, and generating the original benchmarks, with a config script now in our supporting information, and substantial discussion w

[2019-05-18 01:40] ilayn commented on #143
I think this screenshot packed with dots conveys no information and to be honest I think nobody cares. We know what it does and readers won't get anything out of such cockpit view. We might want to collect a few functions with drastic improvements over the years and show that we keep track of performance of things and respective regressions. But as is, it would just waste precious space (even with

[2019-05-18 09:14] rgommers commented on #143
Sorry I didn't find the bandwidth to comment before. I think @mdhaber and @ilayn are right though. Either we remove it, or we simply replace it with @mdhaber's version. The original has text that will be unreadably small, and therefore not accepted for publication.

[2019-05-18 13:04] rgommers commented on #9
(1) should be stated in only a couple of sentences I think. It should not talk at any individual features or modules, that's not feasible (and there's lots of that). I guess what we need is a few sentences that are an improvement on the first paragraph at https://scipy.org/scipylib/?

[2019-05-18 13:06] rgommers commented on #9
(2): perhaps it doesn't need a separate conclusion. The discussion section is pretty good. What it misses is a strong finish. After the roadmap table, perhaps a 1-2 sentence statement about SciPy having a bright future and <something else>?

[2019-05-18 13:10] rgommers commented on #65
As far as I can tell, nothing major anymore. In several places some small tweaks, I think I commented on all of the proposals of @mdhaber (and again my apologies for being slow). The main paper looks good.

The SI could use a bit of pruning. Imho the best section is the overview of `optimize`, with table S1. Perhaps move that to the front.

[2019-05-18 13:11] rgommers commented on #65
Acknowledgements: perhaps throw that out, not feasible to pick specific people or organizations for inclusion.

[2019-05-18 13:51] mdhaber commented on #143
@tylerjereddy I'm -1 for changing the benchmark, too. I tried to regenerate the data, but the command that was in the text of the paper didn't work for me. I even tried to digitize the data from the graph, but I didn't feel comfortable with that because I was having to manually impute some data. At the time, you didn't seem keen on reproducing the data, so I thought this was the next best option.

[2019-05-18 14:10] mdhaber commented on #9
@rgommers I'll look at that link for 1. For 2, just a strong finish without a separate section is good. You think the Cython code should stay in the discussion?

[2019-05-18 14:26] rgommers commented on #9
probably better to remove

[2019-05-18 16:42] tylerjereddy commented on #143
Can you be more specific? `asv` has pretty detailed docs--normally it will produce a traceback when it fails, and then you just kind of keep grinding away until all the dependencies and requirements are satisfied.

From there, you keep re-running with different versions of Cython and NumPy until a complete set of data is regenerated without major gaps in history.

[2019-05-18 16:48] tylerjereddy commented on #143
Or I regenerate the data, and then no text surrounding it has to change.

[2019-05-18 17:25] mdhaber commented on #143
@tylerjereddy That would be great. I asked in #117:

You suggested:

I didn't feel comfortable sending this out for review as it was, though, so I did my best to replace it without troubling you further. I failed again : (

I don't remember the specific difficulties I experienced trying to reproduce the data. I spent a few hours grinding, but at some point I hit a major roadblock and chose to chan

[2019-05-18 20:42] ilayn commented on #143
Yes that's perfectly fine let me rephrase in case it came out wrong; the figure is not conveying the message about the amount of work SciPy team put in just to make things more performant. If we can pull the data out somehow (please let me know if I can be of use including manually reading off the dots), we can make a more stronger point.

[2019-05-18 23:08] tylerjereddy commented on #143
I'm starting the asv runs again locally.

I kept very detailed notes of the procedure I used the first time around: https://workflowy.com/s/im-gradually-refinin/13IzABVs7tJftdmA

Here are the working notes on the regeneration procedure: https://workflowy.com/s/i-need-to-regenerate/yug1dImVfF6C8FTu

[2019-05-19 00:07] mdhaber commented on #143
@ilayn right, I think I agree. The dots and lines alone don't tell the story. Note the markers I added in the new version of the figure - "this happened"/"that happened". These are placeholders for notes about what was changed in the code that led to the observed drop in execution time. For instance, when the data is finished being regenerated and I remake this figure, I would note that the first

[2019-05-19 08:47] #139 closed

[2019-05-22 09:28] ilayn commented on #143
Yes I think that would be a stronger point.

[2019-05-30 16:13] WarrenWeckesser commented on #9
Definitely remove it.  That comment is about some housekeeping details, and not needed in this paper. (If I'm buying a house, I need to know that the roof doesn't leak, the foundation is strong, the wiring is safe, etc.  I don't need to know that there are some cobwebs in the basement that should be cleaned up.)

[2019-06-01 01:24] WarrenWeckesser commented on #9
Here's one possibility for an end to the discussion:

I'm not in love with it, but I'm a slow self-editor. I figure its better to put something up for discussion now instead of putting up a more polished version later.

[2019-06-04 00:32] mdhaber commented on #143
Here is a new version with the data from #144.

![asv](https://user-images.githubusercontent.com/6570539/58842841-ce52fa80-8624-11e9-87f8-822163f1f91f.png)

If we like this, I plan to rescale to reduce vertical space and submit a PR.
Thoughts?

[2019-06-04 01:35] mdhaber commented on #143
Caption: Results of the `scipy.spatial.cKDTree.query` benchmark from the introduction of `cKDTree` to the release of SciPy 1.0. The benchmark generates a _k_-d tree from 10,000 uniformly distributed points in an _m_-dimensional unit hypercube, then finds the nearest (Euclidean) neighbor in the tree for each of 1,000 query points. Each marker in the figure indicates the execution time of the benchm

[2019-06-04 07:23] rgommers commented on #143
Looks great now, thanks @tylerjereddy and @mdhaber!

The "rewritten in C++" vertical line should be moved a little to the right.

@mdhaber question: did you go through the commit history and verify those two rewrites where indeed the causes? Or did you rely on my imperfect memory of events?

[2019-06-04 08:44] ilayn commented on #143
Aha here we go 😃  -> [obligatory oat meal](https://theoatmeal.com/comics/design_hell)

[2019-06-04 13:40] mdhaber commented on #143
@rgommers I checked roughly based on the release candidate numbers of the old plot, but now that I have the actual commit hashes I'll check those.
Re:vertical lines You mean like a single pixel so it goes through the center of the dots, right?

[2019-06-04 13:41] ilayn commented on #143
I think he means the verticals are aligned with the performance gain drops

[2019-06-04 13:41] mdhaber commented on #143
@ilayn re:horizontal grid there are tick marks. Want them a little longer, or faint lines across the whole plot?

[2019-06-04 13:42] ilayn commented on #143
Ah now you mention it, I see them. Thanks

[2019-06-05 05:50] stsievert commented on #143
I think I'd like to see the faint horizontal grid lines to help with comparison. I'm trying to see how much cKDTree improved between jumps, but can't tell. I think faint grid lines would help with "cKDTree speed improved by 2x after fully Cythonizing".

[2019-06-05 22:03] mdhaber commented on #143
Better or worse?

![asv](https://user-images.githubusercontent.com/6570539/58993692-17c95400-87a3-11e9-9534-2d3de28cabe9.png)

[2019-06-05 22:52] stsievert commented on #143
That’s an effective resolution of my style nit – the comparisons are easy visualize now. Thanks!

[2019-06-05 23:44] mdhaber commented on #143
I also wanted to squash it vertically.
![asv](https://user-images.githubusercontent.com/6570539/58997357-17d05080-87b1-11e9-950f-3e6fdb28c69d.png)
I'll submit a PR with this one.

[2019-06-06 01:09] mdhaber commented on #143
@rgommers The commit corresponding with the line labeled `cKDTree` fully cythonized is [b9370d977230176f0ec7106fbb5f8009c124271f](https://github.com/scipy/scipy/commit/b9370d977230176f0ec7106fbb5f8009c124271f). I'm not sure what to make of that.

[2019-06-06 19:59] mdhaber commented on #143
There is a ton of work on cKDTree around that date:
https://github.com/scipy/scipy/commits/master?before=b9370d977230176f0ec7106fbb5f8009c124271f+221

It's parent's commit date is several months in the future.

[2019-06-06 20:58] mdhaber commented on #143
The next commit with the lower execution time is:
[a5734f4f2fa5da181bcf07fecaa95edf5a6ae393](https://github.com/scipy/scipy/commit/a5734f4f2fa5da181bcf07fecaa95edf5a6ae393)

One of its grandparents is
[7c6796dc0db936ab4f85cda7fdf5c2b5a65f6bd3](https://github.com/scipy/scipy/commit/7c6796dc0db936ab4f85cda7fdf5c2b5a65f6bd3)

which was the last in a series of cKDTree improvements by @patvarilly, addi

[2019-06-06 21:06] rgommers commented on #143
sounds reasonable, agree no need to generate more data

[2019-06-06 21:31] mdhaber commented on #143
Now for the conversion to C++, again the first commit with the lower time is:
[https://github.com/scipy/scipy/commit/8d717dd393dc6c6da422ebae49e208db4ce20be2](8d717dd393dc6c6da422ebae49e208db4ce20be2)
Again, its parent is far in the future, after the execution time of all the commits has dropped.

The next commit with the lower time is:
[3bb02c0fc24cc7fc852dd260ccfcdb76c8878ab2](https://github.com

[2019-06-07 13:17] #143 closed

[2019-06-15 18:40] mdhaber opened #150 "Clean References"
The references section needs a fair amount of cleanup - stuff like sticking to capitalization and abbreviation conventions, adding access dates to URLs, etc.

[2019-06-19 16:36] souravsingh commented on #150
I am interested in working on this. What do I need to do?

[2019-06-19 18:01] mdhaber commented on #150
Great! That would be very helpful. Have you used LaTeX before?

[2019-06-19 18:10] souravsingh commented on #150
Yes,I have used LaTeX before.

[2019-06-19 18:51] mdhaber commented on #150
Great. Fork this repository, clone locally, and try to build `paper.tex` locally. I had to move some of the files that are in `scipy-1.0/static/` up to the root directory to get this to work for me.

Once you have that working, you can edit `scipy-1.0/references.bib` to tweak the references until the format matches the [guidelines](https://www.nature.com/srep/publish/guidelines#references).

For i

[2019-06-19 18:54] mdhaber commented on #150
Thanks very much. This would be a big help.

[2019-06-19 19:12] souravsingh commented on #150
Sure, I can work on this.

[2019-06-20 14:09] yarikoptic opened #153 "Consider adding Debian popcon (popularity contest) statistic"
ATM only the number of downloads from pypi and conda as an indicator of popularity.  But some could argue that they are very biased by all CI deployments and do not reflect actual user base installations.  Another additional statistic is Debian popularity contest which is voluntarily, opt-in, mechanism to report installed packages on the system.  The guestimate is that 1-10% of Debian users enable

[2019-06-21 04:55] mdhaber opened #155 "Discrepancy in # of dependent packages / GitHub repositories"
In the abstract:
"161 dependent packages, and 28700 dependent repositories"

In SciPy today:
"Over 85,000 GitHub repositories and almost 5000 packages depend on SciPy."

Thanks @jni (#152)

[2019-06-21 04:57] mdhaber commented on #155
GitHub currently shows 110,497 dependent repositories and 6,447 packages.
https://github.com/scipy/scipy/network/dependents
Use these numbers and cite?

[2019-06-21 14:22] hamogu opened #157 "Citation for paper "the astropy project" is shortened in a strange way"
As of now, this is citation 141. The author as "The astropy Collaboration" as first author name. In the citation this is treated like a given name and shortened to "Collaboration, T. A." which does not make sense. It might be sufficient to replace the "and"s in the bibtex file for that entry with semi-colons. For example, how "linguist developers; the open source community" is formatted. On the ot

[2019-06-21 15:30] mdhaber commented on #157
@souravsingh is working on the references (see #150), but maybe he could use some help?

You can probably fix this by putting {The Astropy Collaboration} in an extra set of curly braces.

[2019-06-21 19:10] souravsingh commented on #157
I can look into this. I have successfully built the TeX files and I am now working on fixing the references.

[2019-06-21 20:23] mdhaber commented on #157
Thanks, Sourav.

[2019-06-25 05:54] fnielsen opened #161 "Word ("from"?) missing in description of special"
The "special" item on page 6 has a first sentence where, I think, a word is missing. I would write "The name comes _from_ the class ..."

[2019-06-25 05:58] WarrenWeckesser commented on #161
Thanks.  That was fixed a few days ago: https://github.com/scipy/scipy-articles/commit/e0a4c8ff54e2aee27e9f7ebaf0fa31a222e311fe

[2019-06-25 05:58] #161 closed

[2019-06-27 23:54] mdhaber commented on #150
@souravsingh we'd like to submit the paper next week. Does that work for you?

[2019-06-27 23:57] mdhaber opened #163 "Figures should be vector format"
I have most of them as vectors; just need to replace the .pngs.

"For optimal results, all line art, graphs, charts and schematics should be supplied in vector format, such as EPS or AI, and should be saved or exported as such directly from the application in which they were made. Please ensure that data points and axis labels are clearly legible."

[2019-06-27 23:59] mdhaber opened #164 "Figure Legends"
Figure legends are limited to 350 words.
"References should be numbered sequentially, first throughout the text, then in tables, followed by figures; that is, references that only appear in tables or figures should be last in the reference list."
Maybe nothing needs to be changed, but we need to check this carefully.

[2019-06-28 00:00] mdhaber opened #165 "Table 1 too small?"
https://www.nature.com/srep/publish/guidelines
"Unnecessary figures should be avoided: data presented in small tables or histograms, for instance, can generally be stated briefly in the text instead."
Should we bring this into the body of the text?

[2019-06-28 00:03] mdhaber opened #166 "Move Tables to End of Document"
"Please submit tables at the end of your text document (in Word or TeX/LaTeX, as appropriate)."

https://www.nature.com/srep/publish/checklist

[2019-06-28 04:12] mdhaber commented on #165
Could also just leave it and eliminate if they ask us to. I don't imagine it's a dealbreaker.

[2019-06-28 09:54] apbard commented on #165
I would opt for leaving it. As you say, they will ask to remove it in case.

[2019-06-28 16:35] souravsingh commented on #150
Sure, I will check the manuscript and make any fixes needed.

[2019-06-28 18:22] mdhaber commented on #166
This seems unusual to me. Why should all the tables be at the end if:
"the figures may be inserted in the text at the appropriate positions, or grouped at the end"
Should we put everything at the end to show that we paid attention to submission guidelines?
I'll give that a shot. It would help us number the bibliography entries in the order they want.

[2019-06-28 18:35] mdhaber commented on #165
@WarrenWeckesser opinion?
One more to leave the table as-is and I'll close this issue.

[2019-06-28 18:58] mdhaber commented on #153
This is a small number. If I wanted to make the point that SciPy is _not_ very popular, I would probably use that figure. So I don't think we can put this alongside the number of downloads from PyPI and `conda`; we should decide which we think better represents reality.

If several CIs download from `conda` or PyPI on every deployment, then at least we need to remove "by users" from:
"These number

[2019-06-28 19:02] WarrenWeckesser commented on #165
Given that the content of the table could be expressed in a single sentence (e.g. something like "The code is SciPy is 50% Python, 25% Fortran, and 20% C, with the remainder including Cython, C++,  and other scripting languages and utilities"), I say take it out.

[2019-06-28 22:01] mdhaber commented on #165
@tylerjreddy @ilayn @rgommers we seem to have conflicting opinions on this. Thoughts?

[2019-06-29 00:10] ilayn commented on #165
I have very little preference on this. If the space permits table, otherwise inline is also fine

[2019-06-29 00:22] mdhaber commented on #165
For consideration: #170.

[2019-06-29 03:59] #163 closed

[2019-06-29 18:06] mdhaber opened #171 "Analysis of apparent conflict between linguist and pytest-cov/gcov data"
`linguist`'s report that SciPy 1.0 is ~50% Python / 50% Other appears to conflict with with Figure 3, which suggests that Python makes up much less of SciPy 1.0.

This discussion began in #99. It was attributed to (reasonable) differences in the way the respective tools generated the data. I started to take a closer look.

---
I used `linguist` with nearly default<sup>1</sup> settings to calculate

[2019-06-29 20:42] tylerjereddy commented on #171
I tried to analyze this in pretty gory detail in the linked PR already. I don't understand why my [Docker-based results / code](https://github.com/tylerjereddy/scipy-cov-track/blob/master/Dockerfile) aren't considered in more detail here. We cite them in the paper and for convenience here are sample gcov numbers associated with our manuscript: https://github.com/tylerjereddy/scipy-cov-track/blob/m

[2019-06-29 21:11] mdhaber commented on #171
I haven't looked at those yet. That was the next step.

[2019-06-29 21:17] ilayn commented on #171
We can also give both results and say somewhere in between. To be honest I don't trust both tools anyways.

[2019-06-29 22:31] mdhaber commented on #171
@ilayn As you say, the percentage of SciPy that is Python code is probably somewhere between the 19% suggested by Figure 3 and the 50% reported by `linguist`, depending on how you count - and there is not just one way to count. We can certainly report both; but I want to understand why the numbers are so different.

[2019-06-29 23:34] mdhaber commented on #171
OK now comparing the [container output](https://github.com/tylerjereddy/scipy-cov-track/tree/master/container_output) as Tyler suggested in #99:

- `linguist` looks at `tools` and `benchmarks`; `pytest` doesn't.
- `pytest` looks at `__init__.py` files within `/tests` folders; `linguist` doesn't.
- There are 22,676 lines in the files that `linguist` looks at that `pytest` doesn't.
- Even after remo

[2019-06-30 00:58] mdhaber commented on #171
As Tyler mentioned in this post, the number of lines of "compiled" code seems to be inflated by generated code - code not distributed with SciPy source but created during the build process.

For example, `/scipy/build/src.linux-x86_64-2.7/build/src.linux-x86_64-2.7/scipy/linalg/_flapackmodule.c` is not distributed with the SciPy source, and `gcov` reports 29,000 lines in the file alone.

Also, in

[2019-06-30 23:18] mdhaber commented on #164
None of these are >350 words. @souravsingh will ensure that references are numbered sequentially as part of #150.

[2019-06-30 23:33] #164 closed

[2019-06-30 23:35] mdhaber commented on #150
Moving #157 into this. @hamogu wrote:

[2019-06-30 23:36] mdhaber commented on #157
Added this to #150.

[2019-06-30 23:36] #157 closed

[2019-07-01 00:02] mdhaber commented on #11
Emails sent last week.
Still waiting to hear whether it's OK to mention in a new issue all 3000 GitHub contributors in order to call their attention to the [Author Form](https://forms.gle/oh7LcU67Sq3VfEbDA).

[2019-07-01 00:37] rgommers commented on #11
Ah I see I forgot to reply to the second email about that, sorry. I think it's going to be too spammy. For one I still don't get the 3000 - the main SciPy repo currently has 729 contributors only. Many of those, including most potential authors, we've already reached. I'd prefer to just ping the ones with invalid email addresses (like `@metaperture`) in the commit history.

[2019-07-01 01:33] #155 closed

[2019-07-01 02:08] mdhaber commented on #11
@metaperture is not in the commit history at all. That was the point. I caught @metaperture's contribution by sheer luck, if I remember correctly. There may be others like @metaperture who contributed code but appear in the commit history at all, and that's why I suggested mentioning all 3000.

Does that mean only the ones with improperly formatted email addresses or @no-reply.github.com?
What abo

[2019-07-01 02:24] andyfaff commented on #11
We've done a large part of our due diligence by sending notifications to both scipy-dev and scipy-users.

[2019-07-01 02:42] mdhaber opened #174 "Cover Letter"
We need a [cover letter](https://www.nature.com/srep/publish/guidelines#cover-letter).

@tylerjereddy You've mentioned that you know our editorial contact, Syma Khalid. Did you plan on writing the cover letter or should I draft it? I was hoping we could submit by Wednesday.

[2019-07-01 02:47] mdhaber opened #175 "Complete Author List"
After authorship decisions are complete, we need to add the authors to the manuscript.

According to #10 the order is:

I think that means that 1 and 2 will be listed on the front page and 3 is the definition of the SciPy Developers consortium:
"In a separate section at the end of the manuscript (after the ‘References’ section) under the heading ‘Consortium’, the names of each consortium member sh

[2019-07-01 03:00] rgommers commented on #175
That doesn't quite work. Since names of (2) cannot be included in (3), "The SciPy Developers" isn't the right name. It looks like like we should remove (1), first do (2) and at the end of (2) add "SciPy Contributors".

[2019-07-01 03:43] tylerjereddy commented on #174
Either way works for me--I'd suggest something concise that emphasizes how widely used SciPy is & how it doesn't have a proper paper yet.

Will Ralf or Pauli be the proper corresponding author? I can just ping Syma right before it is submitted as reminder that someone will be submitting.

[2019-07-01 04:35] mdhaber commented on #174
It would be great if you could, then! The author list is going to take a bit of time as not everyone's submission is perfect.

[2019-07-01 04:47] rgommers commented on #174
Could we have multiple corresponding authors? I think it was me tentatively, but happy to share:)

[2019-07-01 04:57] mdhaber commented on #174
It's limited to three.
https://www.nature.com/srep/journal-policies/editorial-policies#search-menu
I'd be happy to be one.

[2019-07-01 05:02] rgommers commented on #174
Sounds good. You want to be the third @tylerjereddy ?

[2019-07-02 00:03] mdhaber commented on #175
OK. Does this meet the intent?

1. Key maintainers and paper writers
2. Other maintainers in alphabetical order
3. "SciPy Contributors Consortium"

Then the "SciPy Contributors Consortium" will be defined in a new "Consortia" section at the end of the paper, listing all other authors alphabetically.

[2019-07-02 00:33] rgommers commented on #175
Close - not sure I know how to distinguish between "key maintainers" and "other maintainers" ....

How about simplifying to:

- Maintainers, paper writers, other key contributors, ordered by contribution level
- "SciPy Contributors Consortium", in alphabetical order

I'd suggest a generic "we thank all other contributors to SciPy ....". Impossible to name names.

[2019-07-02 03:04] tylerjereddy commented on #174
Sounds good -- I'll try to draft something

[2019-07-02 22:54] mdhaber commented on #150
Hey @souravsingh can you open a PR with what you have? We would really like to get this submitted as early as tomorrow.

[2019-07-03 22:02] mdhaber commented on #153
Does anyone know where our PyPI numbers for 2017 came from?
The paper says 13 million downloads from PyPI in 2017, and I'm seeing 10 million users last month alone:
https://pypistats.org/packages/scipy
Was there a 10x increase in download rate over the last year or could the difference be due to [this](https://pypistats.org/faqs#why-are-there-so-many-more-downloads-after-july-26-2018), in which ca

[2019-07-03 23:03] yarikoptic commented on #153
FWIW, given the popularity of debian and its derivatives, **4%** could easily reflect hundreds of thousands or even millions of installations.  But it is your call to either play this card or not.

[2019-07-04 19:19] mdhaber commented on #153
@yarikoptic do you have a reference for the number of Debian users? I searched briefly but didn't find a number I thought I could use.

[2019-07-05 00:09] #165 closed

[2019-07-05 03:44] tylerjereddy commented on #153
I'm almost certain I cited the tool used to get those numbers--is it not in the manuscript now? It was some kind of open source database scraping tool @stefanv had showed me, I think.

[2019-07-05 20:58] ilayn opened #179 "Texify Benchmark Figure"
This is a dummy issue to ask the opinion of everyone. It is completely OK for me if we close it without merging. It is also nice for quick archiving for later. I was exceptionally busy this week so couldn't keep my promise to @mdhaber but it's late then never I guess.

<hr>

Here is the Texified figure using the data in CSV format for the benchmark figure about 100kB in total.

![image](https://us

[2019-07-05 21:00] ilayn commented on #179
@mdhaber If you want this in please let me know and I can make a PR.

[2019-07-06 12:06] #171 closed

[2019-07-06 12:08] #175 closed

[2019-07-06 16:13] #174 closed

[2019-07-10 07:20] apbard opened #185 "Paper submission"
@mdhaber, @tylerjereddy, @rgommers  Has the paper already been submitted? Or otherwise, is there anything left still to be fixed?

[2019-07-10 12:07] mdhaber commented on #185
The paper has been submitted. (I need to email everyone.) There are still things to be fixed like #150 and any other mistakes that might be found.

[2019-07-10 12:28] stefanv commented on #185
Thank you for your hard work on this; much appreciated!

[2019-07-10 15:40] tylerjereddy commented on #185
Scientific Reports Editorial Office is claiming it is out of scope as of last night, so we may need to think about other options.

[2019-07-10 15:44] rgommers commented on #185
Too bad, not unexpected. I'd prefer to go to a journal that we know is going to be interested. Although @stefanv suggested Nature Methods, we could do a quick inquiry there. Otherwise just PeerJ or some other one that we know it's in scope for. The important thing is to publish it, journal reputation matters little for a paper with thousands of citations.

[2019-07-10 16:08] antonior92 commented on #185
I remember someone suggesting Plos One in some old thread. It is also a good alternative...

Also, have you considered putting the preprint in arXiv or some other preprint server? I think we definitely should consider it.

Finally, thank you Matt, Ralf, Tyler and others for pushing this paper forward. It reads really well now. Great work :)

[2019-07-10 16:20] stefanv commented on #185
We should get in touch with the Nature Methods editor I connected with before submission, and at least ask her for advice given this feedback. She has the context, so is likely to be a helpful guide. Ralf and Tyler have her contact information.

[2019-07-11 05:38] cbrueffer commented on #185
I agree with @antonior92 that having this out as a preprint would be good. This is especially important if it could end up behind a paywall (we had this situation with the Bioconda paper which is on bioRxiv and published in Nature Methods).

Thanks for the great work and inclusiveness everyone!

[2019-07-11 07:45] andyfaff commented on #185
Sorry to hear about the knock back. I wonder if Nature Methods would work
then?

On Thu., 11 Jul. 2019, 15:38 Christian Brueffer, <notifications@github.com>
wrote:

[2019-07-11 09:27] ilayn commented on #185
This rejection/acceptance stuff brings back memories :) It is indeed unfortunate but still great piece of work.

I agree with Ralf that journal won't matter much and it might be even slightly better to find an open journal to set an example. since publishing behind a paywall for an open source Python library would be hard to justify.

[2019-07-11 13:36] stefanv commented on #185
I wouldn't consider this a rejection: they simply stated out of scope.

W.r.t. Ralf's comment of the journal not mattering, I am of two minds: yes, the paper will get cited a lot so SciP's value will be clear, but unfortunately the academic credit world is still broken enough that people take a lot of notice where you publish. So, there is perhaps some importance in terms of obtaining future grant

[2019-07-11 15:14] tylerjereddy commented on #185
I sent an informal inquiry to Stefan's contact at *Nature Methods*, copying Matt, Ralf & Stefan. If they are willing to perform a "direct transfer" of the manuscript given the same parent publisher so we don't have to submit again that might be nice. Same goes for possibly waving part of their much larger open access costs if the paper is accepted.

Anyway, I brought up those points in the email.

[2019-07-11 15:28] rgommers commented on #185
Thanks Tyler, that sounds good. Yes, avoiding having to reformat and retype all author info would be super useful.

[2019-07-12 02:26] mdhaber commented on #185
That would be great. Note that I do generate the author list with a script, so if we do have to regenerate everything it's not the end of the world.
If you merge any PRs with author list corrections, please update the Google Sheet ("decisions", not original data).

[2019-07-13 08:19] mdhaber commented on #166
We decided to ignore this.

[2019-07-13 08:19] #166 closed

[2019-07-21 00:46] mdhaber commented on #11
@andyfaff True and GitHub finally replied: mentioning everyone in a single comment wouldn't work.

Closing.

[2019-07-21 00:46] #11 closed

[2019-07-21 00:47] mdhaber commented on #10
Author decisions complete.

[2019-07-21 00:47] #10 closed

[2019-07-21 16:02] #150 closed

[2019-07-26 14:13] MartinThoma commented on #179
I was about to do the same :smile:

What about removing the box around m=3, m=8, m=16?

[2019-07-27 05:29] mdhaber commented on #179
@ilayn Thanks for your patience.

On one hand, a TeX-defined figure is easier to maintain - but only for those who know what they're doing. I know we have an enriched population of TeX-savvy people, but I only just get by, and Inkscape is easier for me.

Also, I spent some time improving the figure from the original screenshot to the version that is currently in the paper, and consequently I find

[2019-07-27 07:52] MartinThoma opened #204 "Additional Content Ideas"
Is it already decided that the current form should be the final one (besides minor improvements like typos / typography / minor image changes)?

If not, I would have two ideas:

* Displaying project structure (e.g. as nested boxes - the size could represent the number of code lines). This is done in the "Package organization" part already, but maybe an image could be more interesting.
* Dependency

[2019-07-27 08:37] ilayn commented on #179
No problem at all Matt. Consider this as an archived version. It was kind of too large for the data files to store for a figure. Also I didn't spend more than 30 minutes so no worries 😊

If we need it, it is here. Polishing it further also takes equal time

[2019-07-27 08:37] #179 closed

[2019-07-27 17:22] rgommers commented on #204
well we've submitted it and it's up on ArXiV, and it took us well over a year to get this out the door. so while improvements are nice, I expect at this point we will only do the minimal modifications needed based on reviewer feedback

you may like https://github.com/numpy/numpy.org/pull/23

[2019-07-28 13:40] FabricioS opened #205 "Mix of mathematical objects and operations ?"
The second sentence of the introduction mentions "algorithms for optimization, integration, eigenproblem" (mathematical operations/processes) and "algebraic and differential equations".
https://github.com/scipy/scipy-articles/blob/df63951af6a12a424734ce8e0163daff23779766/scipy-1.0/paper.tex#L120
The latter are not operations but objects upon which many different algorithms can operate (zero and fi

[2019-07-28 13:43] FabricioS opened #206 "Details on second occurrence of Pearu P."
In https://github.com/scipy/scipy-articles/blob/df63951af6a12a424734ce8e0163daff23779766/scipy-1.0/paper.tex#L282, Pearu Petersen is described as a (former) "PhD student from Estonia". This mention might be more appropriate at the first occurrence of his name (two lines above).

[2019-07-28 14:10] gertingold opened #209 "Suggestions for further improvement"
First of all, I like this paper a lot. It is really very interesting and very well written. Thanks to everybody who has contributed to it.

Apart from a few smaller fixes collected in #208, I have a few suggestions for (small) changes.

* On page 3, "to solve and minimize nonlinear equations" does not make sense to me because equations cannot be minimized. An option could be "to solve nonlinear eq

[2019-07-28 14:15] MartinThoma commented on #204
Ok. Thank you for the link and the answer!

[2019-07-28 14:15] #204 closed

[2019-07-28 16:05] charris opened #210 "Multiple affiliations OK?"
I noticed that some authors have multiple affiliations. If that is OK, I'd like to add
"Space Dynamics Laboratory, 1695 North Research Park Way, North Logan, UT 84341,  USA" to my affiliations.

For the rest, I think the `spatial` package could use a clearer summary in the project scope section. The whole sentence looks a bit off, actually

Might work better as

EDIT: As an historical note, I thin

[2019-07-28 18:09] mdhaber commented on #210
So both "Independent Researcher" and the Space Dynamics Laboratory?
Added this to author spreadsheet.

[2019-07-28 18:48] mdhaber commented on #206
For reference, it reads:
[code]
I don't really like the parentheses in the first place, so I don't want to add more to them:
[code]
Can we just remove the bit in parentheses altogether?
Was Travis' _only_ help from Pearu on that one package, or were there others we're not mentioning? Can we justify drop this for consistency?

[2019-07-28 18:57] mdhaber commented on #205
Normally I'm pretty picky about language precision, but I think I worked on this particular point before and made peace with it.

In the later part of the sentence, we consider "for" to mean:
"used as a function word to indicate the object or recipient of a perception, desire, or activity"

The algorithms act on these mathematical objects.
Good enough?

[2019-07-28 19:02] charris commented on #210
Great, thanks. I retired five years ago, but did some of my work on company time while employed. My excuse was that I needed things for my work, stable sorts and the constants package for instance, but SDL deserves some credit for not being too strict about how I spent my time.

[2019-07-28 19:07] mdhaber commented on #209
Third bullet is being fixed in #211

[2019-07-28 19:22] FabricioS commented on #206
Hi,
thanks for considering the remark so quickly.
Seems OK to drop, at least from the perspective of equalize the level of details of authorship of the modules (I can't help with respect of the collaboration history on these packages)

[2019-07-28 19:25] FabricioS commented on #205
OK,I think I can easily accept that.
Sorry for the noise

[2019-07-28 19:47] gertingold commented on #209
All points are addressed in #213.

[2019-07-28 19:58] mdhaber commented on #209
When #213 is merged, this will close automatically. Thanks!

[2019-07-28 19:59] #205 closed

[2019-07-28 19:59] mdhaber commented on #205
Not noise. Thanks for your thoughts.

[2019-07-28 20:44] FabricioS opened #214 "References in Table 1"
The references in the last line of the Table 1 could be more nicely formatted using the \citen command from the cite package (already loaded by the wlscirep class currently used).

Direct use makes the table wider, and scaling could be appropriate
`\newcommand{\inlinecite}[1]{\footnotesize\citen{#1}}`
in header, and
`\inlinecite{nelder_simplex_1965, wright_direct_1996}`
at https://github.com/scipy

[2019-07-28 20:47] mdhaber commented on #214
Please open a PR so I can see the result

[2019-07-28 21:23] ilayn commented on #214
You can also downscale it directly if that is the problem by the way. But it would make the table harder to read.

[2019-07-28 22:12] mdhaber commented on #214
Closed by #215

[2019-07-28 22:12] #214 closed

[2019-07-30 03:26] #206 closed

[2019-07-30 03:36] #210 closed

[2019-08-08 21:35] mdhaber opened #216 "`l-bfgs-b` supports bounds"
But this is not reflected in Table 1.

[2019-08-12 11:49] antonior92 commented on #216
That is absolutely true. I am sorry about that, there should be a tick there signaling that...

[2019-08-12 11:53] antonior92 commented on #216
I can fix that for the next version.

[2019-08-12 20:26] mdhaber commented on #216
Great. PR welcome!

[2019-08-19 10:06] antonior92 commented on #216
PR #219

[2019-08-19 21:27] #209 closed

[2019-09-02 00:07] #216 closed

[2019-09-02 00:07] mdhaber commented on #216
Closes by #219

[2019-09-05 22:50] tylerjereddy opened #220 "Comment to Address: Future of SciPy / GPU/ distributed ecosystem"
I think @mdhaber will go ahead and add the majority of the reviewer comments from *Nature Methods* in **anonymous** fashion for the community to help address, as separate issues. Here's a first set of comments to address, grouped together because they are similar requests that we've been specifically asked to address by the Editors.

Reviewer 1:

Reviewer 2:

[2019-09-05 23:32] rgommers commented on #220
I think the question is what to write down about this, because it's not all decided yet. But in principle we do have some answers here:

- http://scipy.github.io/devdocs/roadmap.html#support-for-distributed-arrays-and-gpu-arrays (needs an update, but it's been on our roadmap for a little while)
- We now have a backend system in scipy.fft that allows calling SciPy functions and have them execute on

[2019-09-06 00:05] stefanv commented on #220
The word `gpu` occurs once in the `scipy.fft` source code.  It looks like the system is based on uarray, which was not discussed in the [original proposal](https://docs.google.com/document/d/1hGMc6ZrsmSi_LSixI5oFbo5cZkPUo92sfmnVthg1u6Y/edit#heading=h.g5yhg5y7vfpo), so I'm not sure where most of this discussion happened (perhaps on the mailing list, I didn't see it pass by but could easily have mis

[2019-09-06 00:32] grlee77 commented on #220
On Thu, Sep 5, 2019 at 8:05 PM Stefan van der Walt <notifications@github.com>
wrote:

The lack of any mention of gpu is mainly because there is nothing
GPU-specific in SciPy itself. There is an open PR at CuPy (
https://github.com/cupy/cupy/pull/2355) that implements a CUDA-based
backend for scipy.fft, but as that has not yet been merged or released, it
is perhaps premature to create a user-facing

[2019-09-06 00:36] rgommers commented on #220
It's _an_ approach that seems to work well for `fft`. It'll be interesting to see how people fare with this once 1.4.0 gets released. So far there's few alternative approaches; it's clear by now that `__array_ufunc/function__` won't be enough by itself as a general override approach for SciPy, and  I'm not aware of many other actively developed library for this kind of thing (if we need more flexi

[2019-09-06 02:04] andyfaff commented on #220
These discussions are interesting from a roadmap POV, so that we have a good idea of where we're heading. However, they may be a little beside the point for a paper. A paper is typically expounding on what one has done, not what one is going to do.

[2019-09-06 02:13] grlee77 commented on #220
For the purposes of the paper, I think Ralf's statement "all we should aim to do in SciPy is provide a way to override the API" is relevant. There are no concrete plans to include GPU-specific code in SciPy itself, but SciPy provides a reference implementation and API that downstream libraries for GPU, distributed computing etc. can model their own implementations on. It is much easier to develop

[2019-09-06 03:35] rgommers commented on #220
Yes, that's what we aimed for. Also, we limited authorship to contributors up to 1.0, and should have a 2.0 (or 1.Y.0) paper at some point for contributors post-1.0

Agree with not mentioning `scipy.fft`, except for in the reply to reviewers perhaps, and just explaining the principle.

[2019-09-06 04:31] stefanv commented on #220
I guess my hope was that we would find ways of supporting several operations out-of-the-box on a wider set of platforms, by using ideas such as gputools or compilers *like* Numba. My concern remains that reimplementing many parts of SciPy is all but trivial, and that encouraging people to override its API may bring more headaches than benefits. I understand that there are also risks in not doing s

[2019-09-06 04:34] mdhaber opened #221 "Comment to Address: Scientific Software Funding"
Reviewer 1:

[2019-09-06 04:38] mdhaber opened #222 "Comment to Address: Length of Background"
Reviewer 2:

The journal does not think that the background section should be removed, but that it could be streamlined.

[2019-09-06 04:40] mdhaber opened #223 "Comment to Address: Technical Details"

[2019-09-06 04:40] mdhaber opened #224 "Comment to Address: SciPy Announcement Release Information"
This refers to the "Excerpt from SciPy 0.1 release announcement":
[code]

[2019-09-06 04:41] mdhaber opened #225 "Comment to Address: Briefly Introduce GitHub"

[2019-09-06 04:43] mdhaber opened #226 "Comment to Address: More Information about SciKits"

[2019-09-06 04:43] mdhaber opened #227 "Comment to Address: "Continuous Integration""

[2019-09-06 04:44] mdhaber opened #228 "Comment to Address: Fortran Package Context"

[2019-09-06 04:45] mdhaber opened #229 "Comment to Address: Explain Benefit of Unit Testing"

[2019-09-06 04:46] mdhaber opened #230 "Comment to Address: Compiled Code Coverage is Low"

[2019-09-06 04:46] mdhaber opened #231 "Comment to Address: Additional Links to SciPy Tutorials"

[2019-09-06 05:39] rgommers commented on #220
This `gputools`: https://github.com/maweigert/gputools? That seems to be some custom OpenCL kernels + Python code.

This may interest you: https://pythoncapi.readthedocs.io/pyhandle.html (for easier retargeting of compiled code that uses the Python C API)

[2019-09-06 06:22] rgommers commented on #223
this is probably a valid comment, seems fine to me to get rid of CPython

[2019-09-06 06:25] rgommers commented on #221
Not sure that that reviewer was expecting a serious answer. I'd suggest reviewing the manuscript, but if it says something like "SciPy never received any funding" possibly adding something about GSoC and some in-kind support, then that should cover it. No major lessons to learn I'm afraid, other than patiently trying to recruit more volunteers.

[2019-09-06 15:11] tylerjereddy commented on #220
It may be worth mentioning that we do now have a concrete example of "backend swapping" where GPUs (etc.) may be used. I'd probably even just briefly mention the `scipy.fft` stuff explicitly (coming in a future release..), deferring any further details to a future paper & note in the rebuttal that we even have some new core developers onboard with expertise in this domain of providing backend flex

[2019-09-06 19:04] stefanv commented on #221
Agreed, the disparity mentioned has not been addressed yet.

[2019-09-06 23:29] mdhaber commented on #224
@jarrodmillman @stefanv Do you know where the announcement came from?
Based on the scipy-user mailing list [archives for August 2001](https://mail.python.org/pipermail/scipy-user/2001-August/thread.html), it appears that there may have been a post with the subject "ANN: SciPy 0.10 -- Scientific Computing with Python", but the message itself doesn't appear in the archives or elsewhere (that I could

[2019-09-06 23:34] mdhaber commented on #224
I found it on the Wayback Machine:
https://web.archive.org/web/20011024062700/http://www.scipy.org/scipy/Members/eric/scipy_0_1_0_release

[2019-09-06 23:44] mdhaber commented on #224
Oops I see now that it is reference 31.

[2019-09-07 00:10] #223 closed

[2019-09-08 01:41] #224 closed

[2019-09-08 01:50] mdhaber commented on #228
I can do this.

[2019-09-08 01:50] mdhaber commented on #227
I can do this.

[2019-09-08 01:55] mdhaber commented on #222
I can work on this.

[2019-09-08 16:05] #229 closed

[2019-09-08 17:45] mdhaber commented on #226
Closed by #226

[2019-09-08 17:45] #226 closed

[2019-09-08 18:19] #225 closed

[2019-09-08 19:44] mdhaber commented on #222
Please keep in mind that all of this material is preserved in the first ArXiV draft, and we can even keep it in the revision to be posted if we want.

[2019-09-08 20:07] #227 closed

[2019-09-09 02:22] tylerjereddy commented on #222
@stefanv and @jarrodmillman may want to have a quick look at the streamlining of the background -- while perhaps not ideal, we're probably going to have to work with the journal on this one

[2019-09-10 02:41] jarrodmillman commented on #222
@mdhaber's changes look good to me.

[2019-09-10 02:51] jarrodmillman commented on #221
I'll draft something tomorrow.

[2019-09-10 05:30] mdhaber commented on #222
Thanks @tylerjereddy @jarrodmillman. This section started at 2000 words and we brought it down to 1505. It was a full three pages, now it's 2.5 with one of those pages being quite sparse. I think that is a solid response to the request to streamline the section.

Through this and other PRs (#234, #235, #238, #239, #240), we've also paid more "attention to presenting this towards a general audience

[2019-09-10 05:30] #222 closed

[2019-09-10 06:21] mdhaber commented on #220
With zero GPU or distributed computing experience, I thought I'd leave a PR to someone else, but I can point out two places in the paper that we might think about addressing this.

First, we might consider adjusting the wording of:

algorithms for in-memory computing on single machines, with support for a wide
range of data types and process architectures. Distributed computing and support
for gra

[2019-09-10 16:16] #231 closed

[2019-09-10 16:28] #228 closed

[2019-09-13 19:25] #220 closed

[2019-09-16 20:29] mdhaber opened #247 "Nature Methods Rebuttal"
We need a letter responding to reviewer comments. I'll get it started and submit a PR.

[2019-09-16 20:34] ilayn commented on #247
Sorry for asking the obvious but where can we read the review letter?

[2019-09-16 21:02] mdhaber commented on #247
We decided that the complete reviews should probably not be posted publicly, so currently only the point-by-point comments are posted (as individual issues). @rgommers @tylerjereddy @stefanv should we send the complete email to scipy-core-dev-team?

[2019-09-16 21:07] ilayn commented on #247
I don't want this to come out passive aggressive or angry. I mean quite positive; doesn't that imply that you can also do the response letter internally as corresponding authors? We can help out with the missing ingredients but since we lack the context I don't think you need to work it out here.

I mean you can but I guess I'll leave it alone so you can work it out :)

[2019-09-16 21:23] mdhaber commented on #247
We'll still do everything here on GitHub, as we appreciate your feedback on whatever you have enough context to judge. You can also ignore things if you think important information is missing. You can certainly ignore this issue, as I've already assigned myself to it.

Again, all the point-by-point comments that we need to respond to are public (#222 - #231).  All the relevant content from the rev

[2019-09-16 21:30] tylerjereddy commented on #247
Core dev email list should be fine for the reviewer comments--they are all authors right?!

There's usually some boilerplate at the start of the cover letter thanking reviewers for nice things they may have said--we may be better off opting to put that in "privately" after the main draft of the letter is done in public.

`latexdiff` for a highlighted version of the revised ms. sounded like a good

[2019-09-16 21:39] rgommers commented on #247
+1 for forwarding the reviewer/editor feedback to the core team

[2019-09-16 21:52] mdhaber opened #249 "Underline Changes since initial submission"
Once #221 and #230 are closed, we should underline the changes since initial submission as requested:

[2019-09-16 22:05] mdhaber commented on #247
@tylerjereddy

Would be great if you're still willing! I thought of this as a separate task; please see #249. Also, contributions to #248 are welcome; just wanted to get it started. I'll post what I intend to work on there so we don't duplicate effort.

[2019-09-17 00:25] jarrodmillman commented on #249
You may be familiar with this already, but just in case:
https://gitlab.com/git-latexdiff/git-latexdiff

[2019-09-17 03:14] tylerjereddy commented on #249
Yeah, I think @ev-br also recommended latexdiff--this seems like a good companion to the rebuttal letter.

[2019-09-17 04:33] #221 closed

[2019-09-17 04:43] mdhaber commented on #153
There is a citation now. Not sure how I missed it (unless it was added after this).

Anyway, there are again 10 million downloads last _month_ according to [PyPi Stats](https://pypistats.org/packages/scipy) but perhaps it is best to just stick with the 2017 number. It's an order of magnitude lower than what we're seeing now, so hopefully that abates concerns of CI inflation.

[2019-09-17 04:44] #153 closed

[2019-09-17 04:45] mdhaber commented on #185
The paper was submitted, so closing.

[2019-09-17 04:45] #185 closed

[2019-09-17 06:08] #230 closed

[2019-09-17 19:59] stefanv commented on #153
@tylerjereddy Was it https://github.com/ofek/pypinfo?

[2019-09-17 20:26] tylerjereddy commented on #153
@stefanv Yes, `git grep pypinfo` shows that exact citation in our master branch manuscript

[2019-09-17 20:30] tylerjereddy commented on #153
In any case, yes it will be nice if we get more fine-grained & robust usage metrics in the future. Just like open source scientific libraries, the open source libraries used to generate their usage metrics can always be made better (& same for line coverage libraries.....).

[2019-09-18 03:03] tylerjereddy opened #252 "Move the CI definition"
See my comment here: https://github.com/scipy/scipy-articles/pull/239#issuecomment-532498237

In trying to help with the rebuttal letter I noticed that the CI definition happens after the point where the reviewer requests it instead of before.

Maybe we can shift it a bit?

[2019-09-18 16:45] tylerjereddy commented on #9
I'd say the scope & structure of the paper have been decided at this stage--so, closing.

[2019-09-18 16:45] #9 closed

[2019-09-18 16:46] tylerjereddy commented on #65
These revisions were pre-submission & we're now finishing up post-review adjustments, so long past due to close this issue.

[2019-09-18 16:46] #65 closed

[2019-09-18 21:53] #252 closed

[2019-09-19 18:39] mdhaber opened #254 "Resubmit to Nature Methods"
Suggested plan:

1. ~@tylerjereddy Merge #248 if it looks good (aside from not mentioning bibliography changes)~
2. @tylerjereddy Generate final latexdiff PDF
3. @mdhaber add bibliography changes to that PDF manually
4. @mdhaber @tylerjereddy @rgommers add signature to rebuttal letter
5. @tylerjereddy Resubmit

Does that sound good? @tylerjereddy that looks a little heavy on your end but I imagine

[2019-09-19 19:42] stefanv commented on #254
Thank you for all your work on this, @tylerjereddy and @mdhaber.

[2019-09-19 20:17] tylerjereddy commented on #254
I'm adjusting the results from raw `latexdiff` on the two bbl files Matt linked in #248--the changes get commented out by default in many places because of the interference of bibtex commands. We'll see how far I get..

[2019-09-19 20:38] mdhaber commented on #254
@tylerjereddy if it's not easy, I was just going to edit manually in Adobe Acrobat.

[2019-09-19 23:21] tylerjereddy commented on #254
Ok, I made a repo [for additional latexdiff refinements](https://github.com/tylerjereddy/nmeth_resubmit) and the result is working pretty well for the references in a scripted manner now:
[diff-paper.pdf](https://github.com/scipy/scipy-articles/files/3633537/paper.pdf)

There are still opportunities to improve it, but time... does it look ok for refs?

I patched up Table 1 to fit on the page, but

[2019-09-19 23:30] mdhaber commented on #254
Wow, I think that's terrific. Not a big deal, but do you know why it missed the changes to the top author list but noted the changes to the consortium?

[2019-09-19 23:41] charris commented on #254
The reviewer mail mentioned that corresponding authors need an ORCID id. Does that mean all of us mentioned as authors should go to the website and follow the link? Since that information is confidential to the core-dev list, it would be useful to post the procedure if it is required.

[2019-09-19 23:42] tylerjereddy commented on #254
I think that's just Matt, Ralf & I (3 was the max allowed). I actually don't think even Matt & Ralf had a way to add their ORCID--perhaps I can ask politely if any others can have a way to add theirs.

[2019-09-19 23:59] tylerjereddy commented on #254
Looking at the source, there are just plain DIF tags on the main author list because it is a command that happens before `\begin{document}`. There's a special preamble that gets added for latexdiff commands--I've tried shifting that prior to the title, but so far it doesn't like using latexdiff commands before the doc proper starts.

[2019-09-20 00:04] tylerjereddy commented on #254
Maybe we could highlight those just in color or something manually? The repo is linked above if you want to see the plain linux diff tags on the main author list.

Alternatively, we may need to put the commands in a style file or something that is providing the title command, not sure.

[2019-09-20 00:19] mdhaber commented on #254
I'll take a look, but IIRC I think somebody added an affiliation and consequently some numbers shuffled around. Since that's even less significant than the bibliography changes, I think we should just ignore it without mentioning it.

[2019-09-20 02:08] tylerjereddy commented on #254
Ok, if you give me the green light I'll sign the letter & use the most recent PDF above

[2019-09-20 02:12] mdhaber commented on #254
Yes, that was the only change to the top author list, so go for it.

[2019-09-22 17:52] mdhaber commented on #254
Resubmitted by @tylerjereddy. Thanks!

[2019-09-22 17:52] #254 closed

[2019-09-22 17:54] mdhaber commented on #249
#251 addressed this

[2019-09-22 17:54] #249 closed

[2019-09-26 16:28] tylerjereddy opened #257 "Editorial Revision: Word Limit Refactor"
From *Nature Methods* Editorial Team (emphasis mine):

[2019-09-26 16:29] tylerjereddy opened #258 "Editorial Revision: Abstract Format"
From *Nature Methods* Editorial Team:

[2019-09-26 16:32] tylerjereddy opened #259 "Editorial Revision: Reference Count"
From *Nature Methods* Editorial Team:

As a side note from Tyler: shifting important but non-critical refs to i.e., SI can often be a problem with providing credit because SI refs don't get accounted for in citation indexing.

[2019-09-26 16:33] tylerjereddy opened #260 "Editorial Revision: Equations and Symbols"
From *Nature Methods* Editorial Team:

[2019-09-26 16:35] tylerjereddy opened #261 "Editorial Revision: Renumbering Figures after Adding Boxes"
Since #257 likely means we'll need to add some "Boxes," from *Nature Methods* Editorial Team (emphasis mine):

[2019-09-26 16:37] tylerjereddy opened #262 "Editorial Revision: Figure Legends"
From *Nature Methods* Editorial team:

[2019-09-26 16:39] tylerjereddy opened #263 "Editorial Revision: Artwork Guidelines"
Attachment from *Nature Methods* Editorial team wrt formatting of images:

[NMETH-P39410A_Figure_Guidelines_1569514283_1.pdf](https://github.com/scipy/scipy-articles/files/3658908/NMETH-P39410A_Figure_Guidelines_1569514283_1.pdf)

[2019-09-26 16:46] tylerjereddy opened #264 "Editorial Revision: General Formatting & Submission Checklists"
From *Nature Methods* Editorial team:

[NMETH-P39410A_Formatting_Guide_1569514283_2.docx](https://github.com/scipy/scipy-articles/files/3658930/NMETH-P39410A_Formatting_Guide_1569514283_2.docx)
[NMETH-P39410A_Publishing_Policy_WS_1569514283_3.docx](https://github.com/scipy/scipy-articles/files/3658932/NMETH-P39410A_Publishing_Policy_WS_1569514283_3.docx)

Some points for discussion based on initia

[2019-09-26 16:54] ilayn commented on #263
@mdhaber Should we assign ourselves to this ?

[2019-09-26 17:34] stefanv commented on #264
We should ask the editor about the color figure cost, and whether it would apply to a collaboration such as ours.

[2019-09-26 19:35] mdhaber commented on #264
If all else fails, Tidelift money, right?

I can ask Joe Harrington about the one(s) that sponsored the documentation project.

[2019-09-26 19:43] mdhaber commented on #263
I'll take a more detailed look and let you know.

[2019-09-26 19:44] ev-br commented on #264
That'll open the floodgates: every grad student was funded by some grant even when slacking off to work on scipy; most of these have expired, but everyone has a new one, and you need an acknowledgement to include a paper to the report...

[2019-09-26 19:55] mdhaber commented on #258
Simply cutting down to the most important 80 words:

To avoid starting three of the four sentences with SciPy:

[2019-09-26 20:02] mdhaber commented on #259
I don't think we have included references inappropriately; I think that we simply cover a lot of ground. This is a review paper of almost 20 years of work, which is pretty different than a typical research article.  We can take another pass, but I don't think it is possible to get it down to 50 without removing a substantial amount of content, and if this is truly a "guideline" rather than strict

[2019-09-26 20:09] mdhaber commented on #260
I think we can close this, right? In the current draft, the only equations are in the caption of the `minimize` table, and those are all editable. The table itself will by typeset in Word, and the vector versions of the figures meet this requirement.

[2019-09-26 20:09] rgommers commented on #264
I'd say only grants where the grant proposal said that the funds were for work on SciPy would qualify, not just any grant that people who contributed to SciPy were supported by.

I think the number of those grants was zero.

[2019-09-26 20:15] mdhaber commented on #262
We do have methodological detail and interpretation/discussion in figure captions, but I don't think it is "inappropriate". I really don't think this information belongs in the main text. I think we should ask Rita if she thinks the current caption detail is "inappropriate" and needs to be moved to the S.I.

[2019-09-26 20:20] mdhaber commented on #264
Yeah after re-reading the papers about the documentation project, even that money was not actually slated for SciPy.

If someone can think of a grant pre-1.0 that was actually slated for SciPy work, please re-open.

[2019-09-26 21:08] stefanv commented on #258
That reads well to me.

[2019-09-27 16:40] tylerjereddy commented on #264
We're definitely not done with the docs I linked above--reopening. I'll aim to pass along Stefan's point about the Figure cost & impracticality of Acknowledgements, but I don't see any reason to close this reminder to deal with that paperwork, etc.

[2019-09-27 16:42] tylerjereddy commented on #264
For example, there are actual documents to sign--closing this would mean that we've signed / submitted them.

[2019-09-27 16:43] mdhaber commented on #264
Oops.

[2019-09-27 17:29] tylerjereddy commented on #264
From our Editorial contact:

I'll update on the Figure costs when I hear more

[2019-09-27 17:31] tylerjereddy commented on #262
From our Editorial Contact:

[2019-09-27 17:32] tylerjereddy commented on #259
Closing because overruled by our Editorial Contact:

[2019-09-27 17:32] #259 closed

[2019-09-27 19:05] tylerjereddy commented on #264
Again from our Editorial Contact:

[2019-09-28 21:41] tylerjereddy commented on #258
Ok, I added this shortened version of the abstract to the revised Word document in #256, so closing, thanks Matt.

[2019-09-28 21:41] #258 closed

[2019-09-28 22:02] tylerjereddy commented on #263
@mdhaber it looks like Figure 4 *might* already be in "vector" format (they accept PDF); I suppose it may need a slight resizing to match their guidelines for two-column width & height limits & possibly a font check to match their requirements

[2019-09-28 22:06] tylerjereddy commented on #263
I imagine for Figure 3, it shouldn't be too hard to split that tikz code out of the manuscript & produce a standalone vector PDF as per their requirements.

[2019-09-28 23:24] ilayn commented on #263
Figure 3 is already in vector format but sure we can separate the file out to a PDF. I think For fig 2 and 4, Matt has the inkscape files (and also TikZ version in #179).

I think we need to change the caption of Fig. 1 to maybe a quote. Feels strange to have it as a figure.

[2019-09-29 00:06] tylerjereddy commented on #263
Yeah, I think the specific request was to change it to a "Box" that wouldn't count against the word count total.

[2019-09-29 03:49] mdhaber commented on #263
@ilayn I just created #263 for figures 2 and 4. If you could take care of 3 (please use Arial instead of Helvetica), I'd appreciate it. For consistency, could you use two of the colors from Figure 4?

It sounds like 1 needs to be changed in MS word?

[2019-09-29 03:50] mdhaber commented on #263
I'd suggest that we don't change these in the LaTeX document; I would prefer the existing font for arXiv version 2.0.

[2019-09-29 04:27] mdhaber commented on #257
Assuming tables don't count, I'm getting ~7300 words including captions, ~7000 without. We're not going to cut out 1000+ words in <1 week without removing large swaths of content (which we already did to the Background section). Converting the "Package Organization" section to a Box would remove about 800 words. Beyond that, I'll try to remove a few words , mostly from Key technical improvements.

[2019-09-29 04:38] mdhaber commented on #262
The timeline figure caption is fine. We added a bunch of that to satisfy a reviewer comment.

The code coverage figure would need to be trimmed quite a bit, as I think all of this (112 words) can be considered interpretation/discussion or methodological detail:

Similarly, the benchmarking figure would need to be trimmed (52 words):

using Python 2.7, NumPy 1.8.2, and Cython versions 0.27.3, 0.21.

[2019-09-29 04:45] mdhaber opened #266 "Branch arXiv revision?"
I'm wondering whether we want to create a branch for the arXiv revision?
I don't think the remaining editorial revisions (or some of the cuts we did for the reviewers) are wanted in the arXiv version.

[2019-09-30 01:47] tylerjereddy commented on #257
Maybe just in Word unfortunately--that's what I started doing with Word docs updated in Stefan's PR

[2019-09-30 01:52] tylerjereddy commented on #266
Isn't this the purpose of https://github.com/scipy/scipy-articles/pull/194?

I figured we'd want a separate branch so left that open--we can make decisions about what goes in the arxiv branch for revisions later & use latexdiff again to be sure if we want. It shouldn't be that hard to backport selectively.

That said, at least on my radar, this is lower priority than dealing with the NMETH stuff--

[2019-09-30 03:42] mdhaber commented on #266
Oops. OK.

[2019-09-30 03:42] #266 closed

[2019-09-30 08:08] mdhaber commented on #257
Do you know how to create a "Box"? Do you think this means a "text box"?

[2019-09-30 15:58] tylerjereddy commented on #257
I think Boxes are indeed just "text boxes" in Word. The first *Nature Methods* PDF I found when I went to their website was a review article with at least four boxes:
[NMETH_sample.pdf](https://github.com/scipy/scipy-articles/files/3672082/NMETH_sample.pdf)

They are all interspersed throughout the text--they seem to like doing that & they don't look any fancier than normal text boxes in Word.

[2019-09-30 16:13] mdhaber commented on #257
OK, but based on the guidelines I don't think we're supposed to attempt to format that. They are now actually requiring us to take figures, tables, (etc... including boxes) out of the text and put them at the bottom.

[2019-09-30 16:15] mdhaber commented on #257
Based on those guidelines, it appears that captions do not count against us either, so MS Word says we're at 6239 words.

[2019-09-30 16:18] mdhaber commented on #260
All equations in the word document appear to be editable. No action needed except perhaps final check before submission.

[2019-09-30 16:22] mdhaber commented on #261
Key Technical Improvements -> cKDTree has:

This refers to Figure 2 quite a bit above where we have always had the figure appear (Benchmarking). I'm concerned that if we reference the figure here, it will be placed here by the editors (because we are supposed to submit without embedding figures anywhere). Shall I remove this reference?

[2019-09-30 16:32] mdhaber commented on #261
I went ahead and made this change. I think all figures, tables, and boxes are referred to in the text and numbered in the order the references appear.

[2019-09-30 16:40] mdhaber commented on #264
I think the Word Document now satisfies all the requirements in the Formatting Guide except:

- In Author List and Affiliations, we do not have an "Equal contributions statement". Presumably this is not needed as we have an Author Contributions Statement (which I've put after Acknowledgements according to the "Acknowledgements and Contributions" section).
- Author institutions might not satisfy al

[2019-09-30 17:36] mdhaber commented on #264
[Third Party Rights Table](https://www.dropbox.com/s/uclacgrbqr3s3ox/thirdpartyrights-table.doc?dl=0)

Did my best. If someone has better contact information for NumPy, scikit-learn, or Cython than I entered in the table, please let me know.

[2019-10-03 04:45] mdhaber commented on #263
@ilayn will you be able to provide the code coverage figure?

[2019-10-04 02:32] ilayn commented on #263
@mdhaber I am a bit lost in the requirement between the Arxiv and the journal submission. Which one should I convert ?

The fonts are taken from the surrounding TeX document hence I am not selecting any fonts.

[2019-10-04 03:12] mdhaber commented on #263
Please see the guideline document in this issue's original post. For Nature Methods, we are submitting a Word document, not TeX. The figure is supposed to be a separate PDF. The figure should be 180mm wide, and text inside it should be Arial 7 pt.

[2019-10-05 16:25] tylerjereddy commented on #263
@ilayn If you are swamped I can try to make the standalone PDF. We'll want to avoid long delays in resubmitting if possible. I suspect Matt & I still need to look over the paper carefully a little more given the conversion to Word, though I do hope we're converging on pretty decent quality soon.

[2019-10-05 18:04] ilayn commented on #263
Just came home finally. Doing it now asap.

[2019-10-05 20:23] ilayn commented on #263
This is the code coverage figure
[codecov.pdf](https://github.com/scipy/scipy-articles/files/3693661/codecov.pdf)

created via :

[code]

[2019-10-05 20:29] ilayn commented on #263
Oops missed the font size req. please change the line of `setmainfont` to `\setmainfont[SizeFeatures={Size=7}]{Arial}` and compile with either Lua- or Xe-LaTeX.

[2019-10-06 19:01] mdhaber commented on #263
@ilayn thanks for fixing the font.
What is the 23.3584 number at the bottom left?

[2019-10-06 20:09] ilayn commented on #263
Ah my bad. I was testing something. Editing comment now.

[2019-10-07 00:42] mdhaber commented on #264
[Life Sciences Reporting Summary](https://www.dropbox.com/s/p8b9gfnh9f32tli/nr-reporting-summary.pdf?dl=0)
Tyler, can you review and add version numbers to the Software and Code section? (The instructions that appear if you remove all text from the box specify that version numbers should be included.)

[2019-10-07 01:12] mdhaber commented on #264
Editorial Policy Checklist

@tylerjereddy I was looking at the requirements for the Data Availability Statement and I think we need to be more specific there about the location of raw data for figures. I added the location of data for Figures 2 and 3. (Note that the location of Figure 3 data is not cited / in the reference list.)

[2019-10-07 01:24] mdhaber commented on #264
[Publishing Policy Worksheet](https://www.dropbox.com/s/lxnsxamn4vwqab1/NMETH-P39410A_Publishing_Policy_WS_1569514283_3.pdf?dl=0)

Requires manual signature. I pre-filled some information at the top and replaced the author list with the one from the manuscript. (There were no real changes; just formatting of special characters and  affiliation numbers as superscripts.)

[2019-10-07 03:21] tylerjereddy commented on #264
It looks like most of that life science reporting document doesn't apply to us, but the software section obviously does. We used a few different things for collecting some metrics, so would be easy to forget something (there were a few versions of asv, the pypi parsing library, code cov repo...).

I don't think your link works if you added anything to the form. I can get a blank version from the o

[2019-10-07 04:08] mdhaber commented on #264
I think the link is OK, but the Dropbox preview doesn't look right. The instructions for that form specify that it will only work with Acrobat / Acrobat Reader. Please try downloading it and opening it with Adobe.

[2019-10-07 04:21] mdhaber commented on #257
@tylerjereddy I was thinking about your suggestion of moving the quotes from the background to a box. I don't think the entire section - with both quotes and intermediate text - can be moved, but I don't see why we can't move Jim Hugunin's quote. Like SciPy 0.1 announcement, we want to include it because it's an important part of the history, but it can be summed up very succinctly in the main tex

[2019-10-07 16:22] tylerjereddy commented on #257
I think we just leave it as is for now as you suggest before. I've never seen a rebuttal letter for Editorial requests but doesn't hurt I guess.

[2019-10-07 16:34] mdhaber commented on #257
One of the documents said we needed a point by point response.

[2019-10-07 19:28] tylerjereddy commented on #264
[nr-reporting-summary.pdf](https://github.com/scipy/scipy-articles/files/3699101/nr-reporting-summary.pdf)

Hi Matt--thanks for filling in the reporting summary--I've attached above a version with a bit more version / branch details for what exactly was executed to generate the data.

Agreed on the other stuff we can't really fill in as it doesn't apply.

[2019-10-07 19:38] tylerjereddy commented on #264
A compressed tarball with the raw data was merged into the articles repo here: https://github.com/scipy/scipy-articles/pull/144

Let me know if you want me to add an EndNote reference to that in the figure 3 caption. As it falls within the umbrella of the SciPy GitHub repo this may be less crucial as I think we mention that most material is available here.

[2019-10-07 20:14] mdhaber commented on #264
Either way. I think I added a link to that in the changes I made last night to the Data Availability statement.

[2019-10-08 16:33] tylerjereddy commented on #264
Are we looking pretty good for the submission paperwork then minus some signatures? I can try to make a push today at some point as it seems the manuscript is basically done & Figures maybe now too?

[2019-10-08 18:36] mdhaber commented on #264
Yes. If you are willing to do the final submission, you should be the one to do the last check and sign off, and I think it's ready for that.

I've already looked through everything and I think we satisfy the requirements except a few that are noted in the checklist above.

[2019-11-13 01:14] tylerjereddy opened #268 "Editorial Revision: Remove Copyrighted Logos"
This may be our last blocker.

From the *Nature Methods* Editorial Team:

cc @mdhaber @ilayn

We did ask for clarification given that some of these seem to fall within fair use, but the publishing entity seems nervous about it.

[2019-11-13 01:15] #264 closed

[2019-11-13 01:15] #257 closed

[2019-11-13 01:15] #260 closed

[2019-11-13 01:15] #261 closed

[2019-11-13 01:16] #262 closed

[2019-11-13 01:16] #263 closed

[2019-11-13 01:34] ilayn commented on #268
I don't find the logos too important for the storyline anyways. So fwiw, we can remove them which makes it easier to make the timeline.

[2019-11-13 01:59] rgommers commented on #268
+1 for removing

[2019-11-13 20:30] mdhaber commented on #268
Internet started working. See `scipy_timeline_NM2` files in #265.

[2019-11-14 05:28] tylerjereddy commented on #268
Thanks Matt---I've uploaded the revised PDF version of that Figure along with the new copyright form. Hopefully we're in good shape now..

[2020-01-03 01:47] tylerjereddy commented on #268
Should be done with this now, thanks.

[2020-01-03 01:47] #268 closed

[2020-01-03 01:52] tylerjereddy opened #269 "Author Queries (AQs) for NMETH proofs"
I've addressed 32 out of the 42 explicit Author Queries (AQs) from the *Nature Methods* Editorial team with respect to our final article proofs.

Some of the remaining queries will only make sense to the subset of authors currently accessing the proofs document online, but others require more general action/information that you may be able to help me address. I will list all 10 remaining queries b

[2020-01-03 02:28] mdhaber commented on #269
@jsilter per AQ2 above, can you please provide your city and state?
@Juanlu001 per AQ3 above, can you please provide your city? Barcelona, according to GitHub?
@batterseapower per AQ4 above, can you please provide your city? Rugby, according to GitHub?
@jnothman can you confirm or correct your city name in AQ5 above? It looks like Sydney is correct, according to GitHub? Should we list Camperdown (

[2020-01-03 02:46] jsilter commented on #269
Re AQ2: My location is Malden, Massachusetts, USA.
Re AQ17: I am currently employed at Thomson Reuters though that shouldn't create any competing interests at all.
-Jacob Silterra

[2020-01-03 02:59] cancan101 commented on #269
New York City, New York, USA

[2020-01-03 03:15] jnothman commented on #269
Syndney -> Sydney

If it _must_ have a city, Camperdown NSW might be most correct

[2020-01-03 03:19] mirca commented on #269
Thanks for the ping @mdhaber!
Re AQ5: city name is "Campina Grande", state id is "PB", country is "Brazil".
If possible, I would also like to add my new university affiliation: "The Hong Kong University of Science and Technology", location: "Hong Kong SAR China". Thanks!

[2020-01-03 03:22] mdhaber commented on #269
@tylerjereddy

The SciPy documentation project

The SciPy documentation project (technical overview)

Progress report: NumPy and SciPy documentation in 2009

Python for scientific computing

Statsmodels: Econometric and statistical modeling with Python

Exploring network structure, dynamics, and function using NetworkX

 Numba: A LLVM-based Python JIT compiler

 Tracing the meta-level: PyPy’s trac

[2020-01-03 03:23] andyfaff commented on #269
Would it be possible for me to look at the proof?

[2020-01-03 03:53] josef-pkt commented on #269
my city, state/province, and country
Montreal, Quebec, Canada
no affiliation or employer

[2020-01-03 04:10] eamartin commented on #269
Re AQ6:
Chicago, IL, USA

[2020-01-03 05:26] charris commented on #269
Charles Harris
Logan, Utah, USA.

[2020-01-03 05:31] ilayn commented on #269
Ilhan polat
Amsterdam, the Netherlands

[2020-01-03 06:11] perryism commented on #269
Perry Lee
Daly City, CA, USA

On Thu, Jan 2, 2020, 6:49 PM Matt Haberland <notifications@github.com>
wrote:

[2020-01-03 06:37] timcera commented on #269
Tim Cera
Gainesville, FL, USA

[2020-01-03 08:19] apbard commented on #269
Alessandro Pietro Bardelli
Milan, Italy

[2020-01-03 08:39] dlax commented on #269
Denis Laxalde
Toulouse, France

[2020-01-03 09:50] astrojuanlu commented on #269
AQ3: Madrid, Spain.

[2020-01-03 10:24] gfyoung commented on #269
@tylerjereddy : I just sent an email with the requested information.

[2020-01-03 17:09] batterseapower commented on #269
AQ4: Rugby, United Kingdom

[2020-01-03 19:56] tylerjereddy commented on #269
@andyfaff I've copied you on the email chain with Ralf & Matt---if other core devs want to see the proofs I can include them too.

[2020-01-05 19:30] WarrenWeckesser commented on #269
I was unaffiliated when the paper was prepared, but my affiliation is now

    Berkeley Institute for Data Science
    UC Berkeley
    Berkeley, CA  USA

[2020-01-06 02:06] tylerjereddy commented on #269
For AQ17 I made my life a little easier by using the main author list only for industry affiliations. After all, they don't list the affiliation numbers next to author names in the extended Contributor list in the proofs that can be edited.

I've checked off all the Author Queries now. I will probably submit in a few hours after looking through the proofs one more time tonight. SciPy core devs do

[2020-01-06 02:08] mdhaber commented on #269
@tylerjereddy Thanks I was just about to put that together, and I would have done the same thing!

[2020-01-06 02:35] mdhaber commented on #269
@tylerjereddy Would you like me to double-check anything in particular? Let me know if there's anything you'd like a second set of eyes to go through.

Some things I noticed already:
Table 1 looks off in the proof. The top row needs to be shifted one column to the right.
Figure 2 still has that random number at the bottom left. @ilayn I see you fixed the comment in https://github.com/scipy/scipy-a

[2020-01-06 02:59] tylerjereddy commented on #269
I'll try to add comments/notes about those things to be safe when I go through.

[2020-01-06 05:03] tylerjereddy commented on #269
Ok, I read through the manuscript proof one more time, made a few more small adjustments, and submitted.

In theory, that should be the end of allowed corrections, so closing, thanks.

[2020-01-06 05:03] #269 closed, assigned to nobody

[2021-03-31 21:27] jni commented on #11
@mdhaber do you still have the script to crawl the git history / github comments and email contributors? We are doing this for another project and it would be really nice to have something to start with! #FOSS ;) Thank you!

[2022-06-02 01:16] mdhaber commented on #11
Oops, thanks for your patience @jni. I'll reply by email.